@font-face {
  font-family: 'stefan';
  src: url("../fonts/stefan.ttf") format("truetype"); }
h1 {
  font-family: stefan; }

.notification-chip {
  display: inline-block;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #42c0c4;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 17px;
  margin-right: 10px;
  text-align: center;
  color: #42c0c4; }
.notification-chip p {
  color: blue; }

.fleet-btn, .fleet-btn a {
  display: inline-block;
  color: white;
  line-height: 35px;
  border-radius: 100px;
  background: linear-gradient(to right, #FE947D, #FFBDAD);
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; }

.fleet-btn-full-width {
  display: inline-block;
  color: white;
  line-height: 35px;
  border-radius: 100px;
  background: linear-gradient(to right, #FE947D, #FFBDAD);
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 100%; }

/* Buttons */
.button-accept-requests {
  background: linear-gradient(to right, #FE947D, #FFBDAD) !important;
  border-radius: 50px !important;
  width: 100%;
  border: none !important;
  margin-top: 10px;
  color: white !important;
  cursor: pointer; }

.button-reject-requests {
  background-color: #AFA7A3 !important;
  border-radius: 50px !important;
  width: 100%;
  border: none !important;
  margin-top: 10px;
  color: white !important;
  cursor: pointer; }

.fleet-input {
  width: 100%;
  padding: 7px; }

.title-holder {
  vertical-align: middle;
  line-height: 70px;
  height: 70px;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 10px; }
.title-holder * {
  line-height: 70px; }

.nav-item:hover {
  background-color: white;
  height: 100% a;
  height-color: #a8a8a8 !important; }

.nav-item {
  text-align: center;
  width: 200px; }

/* chatbox */
.wrapper-chatbox {
  padding: 20px 50px; }

.wrapper-chatbox-right {
  background-color: none;
  margin-top: 20px; }

.wrapper-chatbox-left {
  background-color: none;
  margin-top: 20px; }

.wrapper-chatbox-profile {
  border: 1px solid black;
  background-color: white;
  padding: 30px; }

.h-chatbox {
  margin-bottom: 22px; }

.p-bold-chatbox {
  font-weight: bolder;
  margin-right: 5px; }

.profile-picture-chatbox {
  width: 100%;
  text-align: center;
  margin: 20px 0px; }

/* notification amount circle */
.amount-circle {
  border-radius: 50px;
  border: 2px solid #42CDC4;
  color: #42CDC4;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 10px; }

.p-circle {
  padding-top: 1px;
  font-size: 18px; }

/* Table chatbox */
.header-table-chatbox {
  border: 1px solid black;
  background-color: white;
  color: #AFA7A3;
  font-size: 25px;
  padding: 10px;
  margin: 0;
  margin-top: 20px;
  border-bottom: none; }

.table-chatbox {
  border-collapse: collapse;
  width: 100%;
  background-color: #F4F4F4; }

.table-chatbox td, .table-chatbox th {
  border: 1px solid black;
  padding: 8px; }

.table-chatbox tr:nth-child(even) {
  background-color: #F4F4F4; }

.table-chatbox tr:hover {
  background-color: #ddd; }

.table-chatbox th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #AFA7A3;
  color: white;
  border: 1px solid black; }

.symbol-in-table {
  width: 20px;
  float: right; }

.new-message-tr {
  background-color: #F4C477 !important; }

/* Search bar */
.input-group .form-control {
  border-radius: 20px;
  border: 1px solid #AFA7A3;
  height: 40px; }

.input-group-btn > .btn, .input-group-btn > .btn:active, .input-group-btn > .btn:focus {
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(to right, #FE947D, #FFBDAD);
  border-left: none;
  border: 1px solid #F4C477;
  height: 40px;
  width: 75px; }

.input-group-btn > .btn:hover {
  background-color: #E6B360;
  border: 1px solid #F4C477;
  cursor: pointer; }

.no-bullets {
  list-style-type: none; }

@font-face {
  font-family: 'stefan';
  src: url("../fonts/stefan.ttf") format("truetype"); }
h1 {
  font-family: stefan; }

.special-font *, .special-font {
  font-size: 20px;
  font-family: stefan; }

.yellow {
  background-color: #f3c37b; }

.blue {
  background-color: #42c0c4 !important; }

.light-grey {
  background-color: #ededed !important; }

.grey {
  background-color: #a8a8a8 !important; }

.white-text *, .white-text {
  color: white !important; }

.light-grey-text *, .light-grey-text {
  color: #ededed !important; }

.grey-text *, .grey-text {
  color: #a8a8a8 !important; }

.medium {
  height: 200px !important; }

.border-radius {
  border-radius: 40px; }

.center-width-1-3 {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=style.css.map */
