$prim-blue: #42c0c4;
$prim-yellow: #f3c37b;
$prim-grey: #a8a8a8;
$prim-background-btn: linear-gradient(to right, #FE947D, #FFBDAD);


/*RICK: see the link to the googleapis in index.html, I am including 'Architects Daughter' and 'Quattrocento'
@font-face {
    font-family: 'stefan';
    src: url('../fonts/ArchitectsDaughter.ttf') format('truetype');
}
*/

body, html {
    font-family: 'Quattrocento', sans-serif ;
    overflow-x: hidden;
}

h1{
    font-family: 'Architects Daughter', cursive ;
}

a {
    text-decoration: none;
}

// components
@import "components/_chip.scss";
@import "components/_fleet-btn.scss";
@import "components/_forms.scss";
@import "components/_nav.scss";
@import "components/_chatbox.scss";
@import "components/_requests.scss";
@import "components/_profile.scss";
@import "components/_variables.scss";
@import "components/_search-bar.scss";
@import "components/_footer.scss";

// custom styling
@import "styling/font.scss";
@import "styling/color.scss";
@import "styling/scaling.scss";
