<!-- welcome message -->

<br>

<div class="row justify-content-center">

    <div class="row col-8">
        <h1 class="text-center grey-text">
            <span>
                <img src="images/symbol-sailor.png" height="50px"> </span> Hello
            <span id='loggedin-username'></span>!
        </h1>
    </div>
    <!-- left -->
    <div class="col-5">

        <div class="light-grey">
            <div class="grey title-holder">
                <h3 class="special-font">Submit data</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-11">

                    <!-- Select request -->
                    <div class="form-group">
                        Select data request*
                        <select class="fleet-input">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>

                    <!-- Data value -->
                    <div class="form-group">
                        Data value*
                        <input class="fleet-input" placeholder="Title of data" required>
                    </div>

                    <!-- Latidude -->
                    <div class="form-group row">
                        <div class="col-3">Latitude*:</div>
                        <div class="col-9 ">
                            <input class="fleet-input" placeholder="Title of data" required />
                        </div>
                    </div>

                    <!-- Longitude -->
                    <div class="form-group row">
                        <div class="col-3">Longitude*:</div>
                        <div class="col-9 ">
                            <input class="fleet-input" placeholder="Title of data" required />
                        </div>
                    </div>

                    <!-- date of measurement -->
                    <div class="form-group row">
                        <div class="col-12">
                            Date of measurement* (DD-MM-YYYY)
                        </div>

                        <div class="col-4">
                            <input type="number" class="fleet-input" min="0" max="100" />
                        </div>
                        <div class="col-4 ">
                            <input type="number" class="fleet-input" min="0" max="100" />
                        </div>
                        <div class="col-4 ">
                            <input type="number" class="fleet-input" min="0" max="100" />
                        </div>
                    </div>

                    <!-- time of measurement -->
                    <div class="form-group row">
                        <div class="col-12">
                            Date of measurement* (DD-MM-YYYY)
                        </div>

                        <div class="col-4">
                            <input type="time" class="fleet-input" />
                        </div>
                        <div class="col-4 ">
                            <input type="number" class="fleet-input" name="points" min="0" max="100" />
                        </div>
                    </div>

                    <!-- divider -->
                    <hr />

                    <!-- add and submit -->
                    <div class="form-group text-center">
                        <a href="" class="fleet-btn-round">
                            <label>+</label>
                        </a>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="submit" class="fleet-btn-full-width">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- right -->
    <div class="col-3">
        <!-- Accepted requests -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">Accepted Request(s)</h3>
            </div>
            <br>
            <p>
                <span id="accepted-chip" class="notification-chip">1</span>
                <span class="h4">Accepted request(s)</span>
            </p>
            <a class="fleet-btn" href="#">View</a>
        </div>
        <br>
        <!-- All requests -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">New requests</h3>
            </div>
            <br>
            <p>
                <span id="request-chip" class="notification-chip ">1</span>
                <span class="h4">New data request(s)</span>
            </p>
            <a class="fleet-btn" href="#">View</a>

        </div>
        <br>
        <!-- chatbox -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">Chatbox</h3>
            </div>
            <br>
            <p>
                <span id="newmsg-chip" class="notification-chip ">1</span>
                <span class="h4">New message(s)</span>
            </p>
            <a class="fleet-btn" href="#">View</a>
        </div>
    </div>
</div>
<script>
    setText("accepted-chip", 5);
    setText("request-chip", 3);
    setText("notification-chip", 1);

    var prev_onload_dashboard = window.onload;
    window.onload = onload_dashboard();

    function onload_dashboard() {
        if (prev_onload_dashboard) {
            prev_onload_dashboard();
        }
        if (loggedIn()) {
            console.log(loggedInRole())
            var set_fullname = loggedInFullName();
            var set_email = loggedInEmail();
            var set_institute = loggedInInstitute();
            var set_boatname = loggedInBoatName();



            setText('loggedin-username', set_fullname);
            setText('loggedin-username-profile', set_fullname);

            setText('loggedin-email-profile', set_email);
            setText('loggedin-boatname-profile', set_boatname);
        }
    }
</script>