<!-- welcome message -->

<br>

<div class="row justify-content-center">

    <div class="row col-8">
        <h1 class="text-center grey-text">
            <span>
                <img src="images/symbol-academic.png" height="50px"> </span> Hello
            <span id='loggedin-username'></span>!
        </h1>
    </div>

      <!-- left -->
         <div class="col-5">
             <div class="light-grey">

                 <div class="grey title-holder">
                     <h3 class="special-font">Send data request</h3>
                 </div>

                 <div class="row justify-content-center">
                     <div class="col-11">

                                 <!-- Data value -->
                       <div class="form-group">
                            Short description of research project (max 250 tokens)*
                            <input id="desc" class="fleet-input" placeholder="..."   maxlength="250">
                        </div>
 
                          <!-- Select request -->
                          <div class="form-group">
                              Kind of data*
                              <select id="kind-of-data" class="fleet-input">
                                  <option value="volvo">...</option>
                                  <option value="saab">...</option>
                                  <option value="opel">...</option>
                                  <option value="audi">...</option>
                              </select>
                          </div>
 
                          <!-- Data value -->
                          <div class="form-group">
                              Area*
                              <input id="area" class="fleet-input" placeholder="..." >
                          </div>
 
 
                          <div class="form-group row">
                                  <div class="col-12">
                                  Radius of area (km)*
                                  </div>
 
                                  <div class="col-4">
                                          <input id="radius" type="number" class="fleet-input" min="1" max="50" />
                                  </div>
                              </select>
                          </div>
 
                          <!-- Latidude -->
                          <div class="form-group row">
                              <div class="col-3">Latitude*:</div>
                              <div class="col-9 ">
                                  <input id="latitude" class="fleet-input" placeholder="..."  />
                              </div>
                          </div>
 
                          <!-- Longitude -->
                          <div class="form-group row">
                              <div class="col-3">Longitude*:</div>
                              <div class="col-9 ">
                                  <input id="longitude" class="fleet-input" placeholder="..."  />
                              </div>
                          </div>
 
                          <!-- date of measurement -->
                          <div class="form-group row">
                              <div class="col-12">
                                      Date of <b>first</b> measurement (DD-MM-YYYY)*
                              </div>
 
                              <div class="col-4">
                                      <input id="first-day" type="number" class="fleet-input" min="1" max="31" />
                              </div>
                              <div class="col-4 ">
                                      <input id="first-month" type="number" class="fleet-input" min="1" max="12" />
                              </div>
                              <div class="col-4 ">
                                      <input id="first-year" type="number" class="fleet-input" min="2018" max="2100" />
                              </div>
                          </div>
 
                          <!-- time of measurement -->
                          <div class="form-group row">
                                  <div class="col-12">
                                          Date of <b>last</b> measurement (DD-MM-YYYY)*
                                  </div>
 
                                  <div class="col-4">
                                          <input id="last-day" type="number" class="fleet-input" min="1" max="31" />
                                  </div>
                                  <div class="col-4 ">
                                          <input id="last-month" type="number" class="fleet-input" min="1" max="12" />
                                  </div>
                                  <div class="col-4 ">
                                          <input id="last-year" type="number" class="fleet-input" min="2018" max="2100" />
                                  </div>
                              </div>
 
                              <div class="form-group">
                                  Frequency of measurement(s)*
                                  <select id="freq-of-measurements" class="fleet-input">
                                      <option value="daily">daily</option>
                                      <option value="weekly">weekly</option>
                                      <option value="monthly">monthly</option>
                                  </select>
                              </div>
 
                              <div class="form-group row">
                                      <div class="col-12">
                                      Number of measurements per frequency*
                                      </div>
 
                                      <div id="number-of-measurements" class="col-4">
                                              <input type="number" class="fleet-input" min="1" max="50" />
                                      </div>
                                  </select>
                              </div>
 
                              <div class="form-group">
                                  Additional information (optional)
                                  <input id="additional-info" class="fleet-input" placeholder="..." >
                              </div>
                          <!-- divider -->
                          <hr />
 
 
                          <div class="form-group text-center">
                                  <a href="" class="fleet-btn-round"><label>+</label></a>
                              </div>
 
                          <div class="form-group">
                              <input type="button" onclick="submitData()" value="submit" class="fleet-btn-full-width">
                          </div>
 
                          <input type="hidden" name="page" value="dashboard-academic">
                                </form>
                      
                        
                     </div>

                 </div>
                 
             </div>
         </div>

    <!-- right -->
    <div class="col-3">
        <!-- chatbox -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">Chatbox</h3>
            </div>
            <br>
            <p>
                <span id="newmsg-chip" class="notification-chip ">1</span>
                <span class="h5">New message(s)</span>
            </p>
            <button onclick="window.location.href='?/=all-requests'" class="fleet-btn" href="?/=chatbox-sailor">View</button>
        </div>
        <br>
        <!-- All requests -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">My requests</h3>
            </div>
            <br>
            <p>
                <span id="request-chip" class="notification-chip ">1</span>
                <span class="h5">Status update(s) of request(s)</span>
            </p>
            <button onclick="window.location.href='?/=my-requests-academic'" class="fleet-btn" href="?/=chatbox-sailor">View</button>

        </div>
        <br>
    </div>
</div>
<script>
        function submitData() {
            alert("hh")
            var description = document.getElementById("desc").value;

            var kindOfData = document.getElementById("kind-of-data").value;

            var latitude  =  document.getElementById("latitude").value;

            var longitude  =  document.getElementById("longitude").value;

            var area = document.getElementById("area").value;

            var radius = document.getElementById("radius")

            var dateFirstMeasurment=document.getElementById("first-day").value + "-" + 
                     document.getElementById("first-month").value + "-" +
                 document.getElementById("first-year").value;

            var dateLastMeasurement=document.getElementById("last-day").value + "-" + 
            document.getElementById("last-month").value + "-" +
        document.getElementById("last-year").value;

            var freqOfMeasurments=document.getElementById("freq-of-measurements").value;

            var numberOfMeasurments=document.getElementById("number-of-measurements").value;

            var additionalInfo=document.getElementById("additional-info").value;
        
        /*
            alert("data is to be submitted for request "+requestid+" value="+dataValue+" latitude,logitude="+latitude+","+longitude+" date="+date+" time"+dataTime);
        */
        
            var data = {
              "description":description,
              "kind": kindOfData,
              "latitude":latitude,
              "longitude":longitude,
              "area":area,
              "radius":radius,
              "firstMeasurment":dateFirstMeasurment,
              "lastMeasurement":dateLastMeasurement,
              "freqOfMeasurments":freqOfMeasurments,
              "numberOfMeasurments":numberOfMeasurments,
              "additionalInfo":additionalInfo
            };
            console.log(data);
        }
    function validateNewRequest(desc, request) {
        alert(desc + request)
    }

    setText("accepted-chip", 5);
    setText("request-chip", 3);
    setText("notification-chip", 1);

    var prev_onload_dashboard = window.onload;
    window.onload = onload_dashboard();

    function onload_dashboard() {
        if (prev_onload_dashboard) {
            prev_onload_dashboard();
        }
        if (loggedIn()) {

            var set_fullname = loggedInFullName();
            var set_email = loggedInEmail();
            var set_institute = loggedInInstitute();
            var set_boatname = loggedInBoatName();

            setText('loggedin-username', set_fullname);
            setText('loggedin-username-profile', set_fullname);

            setText('loggedin-email-profile', set_email);
            setText('loggedin-boatname-profile', set_boatname);
        }
    }
</script>
