<!-- welcome message -->

<br>

<div class="row justify-content-center">

    <div class="row col-8">
        <h1 class="text-center grey-text">
            <span>
                <img id="role-icon" src="images/symbol-sailor.png" height="50px"></img> Hello</span>
            <span id='loggedin-username'></span>!
        </h1>
    </div>
    <!-- left -->
    <div id="user-form" class="col-5">

        <div class="light-grey">
            <div class="grey title-holder">
                <h3 class="special-font">Submit data</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-11">

                    <!-- Select request -->
                    <div class="form-group">
                        Select data request*
            			<div id="request-options">
                                        <select class="fleet-input" id="requestid">
                                            <option value="volvo">...</option>
                                    	<option value="saab">...</option>
                                    	<option value="opel">...</option>
                                    	<option value="audi">...</option>
                                        </select>
            			</div>
                    </div>

                    <div id="box-form-data">
                        <!-- Data value -->
                        <div class="form-group">
                            Data value*
                            <input class="fleet-input" id="fleet-data-value" placeholder="XX" required>
                        </div>

                        <!-- Latidude -->
                        <div class="form-group row">
                            <div class="col-3">Latitude*:</div>
                            <div class="col-9 ">
                                <input class="fleet-input" id="fleet-data-latitude" placeholder="52.370216" required />
                            </div>
                        </div>

                        <!-- Longitude -->
                        <div class="form-group row">
                            <div class="col-3">Longitude*:</div>
                            <div class="col-9 ">
                                <input class="fleet-input"  id="fleet-data-longitude" placeholder="4.895168" required />
                            </div>
                        </div>

                        <!-- date of measurement -->
                        <div class="form-group row">
                            <div class="col-12">
                                Date of measurement (DD-MM-YYYY)*
                            </div>

                            <div class="col-4">
                                <input type="number" class="fleet-input" id="fleet-data-day" min="1" max="31" />
                            </div>
                            <div class="col-4 ">
                                <input type="number" class="fleet-input" id="fleet-data-month" min="1" max="12" />
                            </div>
                            <div class="col-4 ">
                                <input type="number" class="fleet-input" id="fleet-data-year" min="2018" max="2100" />
                            </div>
                        </div>

                        <!-- time of measurement -->
                        <div class="form-group row">
                            <div class="col-12">
                                Time of measurement (local time)*
                            </div>

                            <div class="col-4">
                                <input type="time" id="fleet-data-time" class="fleet-input" />
                            </div>
                        </div>

                        <!-- divider -->
                        <hr />

                        <!-- add and submit -->
                        <div if="final-form" class="form-group text-center">
                          <button href="" class="fleet-btn-round">
                            +
                          </button>
                        </div>
                        <div class="form-group">
                            <input type="submit" onclick="clickSubmit()" value="Submit" class="fleet-btn-full-width">
                        </div>
                    </div>

                    <div id="box-form-confirm" style="display: none">
                        <br>
                        <p style="text-align: center; font-size: 30px"><b>Warning!</b></p> 
                        <p style="text-align: center;">You can not change the data after you upload it. 
                        <br>
                        Do you confirm the entered values are correct?</p>
                        <div class="form-group">
                            <input type="submit" onclick="submitData()" value="Confirm" class="btn btn-default button-accept-requests">
                        </div>
                        <div>
                            <input type="submit" onclick="clickCancel()" value="Cancel" class="btn btn-default button-reject-requests">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- right -->
    <div class="col-3">
        <!-- chatbox -->
        <div class="light-grey text-center">
            <div class="grey title-holder">
                <h3 class="special-font">Chatbox</h3>
            </div>
            <br>
            <p>
                <span id="newmsg-chip" class="notification-chip ">1</span>
                <span class="h6">New personal message(s)</span>
            </p>
            <p>
                    <span id="accepted-chip" class="notification-chip">1</span>
                    <span class="h6">New admin messages(s)</span>
                </p>
            <button onclick="window.location.href='?/=chatbox-sailor'" class="fleet-btn" href="?/=chatbox-sailor">View</button>
        </div>
        <br>
        <!-- Accepted requests -->
        <div class="light-grey text-center">
            <div class="grey title-holder">
                <h3 class="special-font">All Request(s)</h3>
            </div>
            <br>
            <p>
                <span id="request-chip" class="notification-chip ">1</span>
                <span class="h6">New data request(s)</span>
            </p>
            <button onclick="window.location.href='?/=all-requests-sailor'" class="fleet-btn" href="?/=chatbox-sailor">View</button>
        </div>
        <br>

    </div>
</div>

<script>

function clickSubmit(){
    document.getElementById("box-form-data").style.display = "none"; 
    document.getElementById("box-form-confirm").style.display = ""; 
    document.getElementById("requestid").disabled = true;
}

function clickCancel(){
    document.getElementById("box-form-data").style.display = ""; 
    document.getElementById("box-form-confirm").style.display = "none"; 
    document.getElementById("requestid").disabled = false;
}

function submitData() {
    var requestid = document.getElementById("requestid").value;
    var dataValue = document.getElementById("fleet-data-value").value;
    var latitude  =  document.getElementById("fleet-data-latitude").value;
    var longitude  =  document.getElementById("fleet-data-longitude").value;
    var date=document.getElementById("fleet-data-day").value + "-" +
             document.getElementById("fleet-data-month").value + "-" +
	     document.getElementById("fleet-data-year").value;
    var dataTime=document.getElementById("fleet-data-time").value;

/*
    alert("data is to be submitted for request "+requestid+" value="+dataValue+" latitude,logitude="+latitude+","+longitude+" date="+date+" time"+dataTime);
*/

    var data = {
      "value":dataValue,
      "latitude":latitude,
      "longitude":longitude,
      "date":date,
      "time":dataTime
    };
    addData(requestid, data);

    location.reload();
}

writeAcceptedDataRequestOptions();
</script>

<script>
    var prev_onload_dashboard = window.onload;
    window.onload = onload_dashboard();

    function onload_dashboard() {
        if (prev_onload_dashboard) {
            prev_onload_dashboard();
        }
        if (loggedIn()) {
            console.log(loggedInRole())
            var set_fullname = loggedInFullName();
            var set_email = loggedInEmail();
            var set_institute = loggedInInstitute();
            var set_boatname = loggedInBoatName();
            var set_role = loggedInRole();

            function setImgSrc(id, path) {
                document.getElementById(id).src = path;
            }

            if (set_role != "sailor" && set_role == "academic") {
                window.location.replace("?/=dashboard-academic");
            } else if (set_role == "sailor") {

            }else {
                alert("not logged in!" + set_role);
                window.location.replace("?/=home");
            }

            setText("accepted-chip", 5);
            setText("request-chip", 3);
            setText("notification-chip", 1);

            setText('loggedin-username', set_fullname);
            setText('loggedin-username-profile', set_fullname);

            setText('loggedin-email-profile', set_email);
            setText('loggedin-boatname-profile', set_boatname);
        }
        var date = new Date();
        var element;
	element = document.getElementById("fleet-data-day");
	if (element) {
	    element.value = ""+date.getDate();
	}
	element = document.getElementById("fleet-data-month");
	if (element) {
	    element.value = ""+(1+date.getMonth());
	}
	element = document.getElementById("fleet-data-year");
	if (element) {
	    element.value = ""+date.getFullYear();
	}
	element = document.getElementById("fleet-data-time");
	if (element) {
	    element.value = ""+date.getHours()+":"+date.getMinutes();
	}
    }



</script>
