<!-- welcome message -->

<br>

<div class="row justify-content-center">

    <div class="row col-8">
        <h1 class="text-center grey-text">
            <span>
                <img id="role-icon" src="images/symbol-sailor.png" height="50px"></img> Hello <span id='loggedin-username1'></span>!
        </h1>
    </div>
    <!-- left -->
    <div id="user-form" class="col-5">

        <div class="light-grey">
            <div class="grey title-holder">
                <h3 class="special-font">Submit data</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-11">

                <div id="box-form-confirm" style="display: none">
                        <br>
                        <p style="text-align: center; font-size: 30px"><b>Warning!</b></p>
                        <p style="text-align: center;">You can not change the data after you upload it.
                        <br>
                        Do you confirm the entered values are correct?</p>
                        <div class="form-group">
                            <input type="submit" onclick="clickConfirm()" value="Confirm" class="btn btn-default button-accept-requests">
                        </div>
                        <div>
                            <input type="submit" onclick="clickCancel()" value="Cancel" class="btn btn-default button-reject-requests">
                        </div>
                        <br><br>
                    </div>

                    <div id="there-are-requests" style="display: none">

                    <!-- Select request -->
                    <div class="form-group" id="select-data-request-box">
                        Select data request*
            			<div id="request-options">
                                        <select class="fleet-input" id="requestid">
                                            <option value="volvo">...</option>
                                    	<option value="saab">...</option>
                                    	<option value="opel">...</option>
                                    	<option value="audi">...</option>
                                        </select>
            			</div>
                    </div>


                    <div id="box-form-data">
                        <!-- Data value -->
                        <div class="form-group">
                            Measurement*
                            <input class="fleet-input" id="fleet-data-value" placeholder="-" required>
                        </div>

                        <!-- Latidude -->
                        <div class="form-group row">
                            <div class="col-3">Latitude*:</div>
                            <div class="col-9 ">
                                <input class="fleet-input" id="fleet-data-latitude" placeholder="e.g. 52.370216" required />
                            </div>
                        </div>

                        <!-- Longitude -->
                        <div class="form-group row">
                            <div class="col-3">Longitude*:</div>
                            <div class="col-9 ">
                                <input class="fleet-input"  id="fleet-data-longitude" placeholder="e.g. 4.895168" required />
                            </div>
                        </div>

                        <!-- date of measurement -->
                        <div class="form-group row">
                            <div class="col-12">
                                Date of measurement (DD-MM-YYYY)*
                            </div>

                            <div class="col-4">
                                <input type="number" class="fleet-input" id="fleet-data-day" min="1" max="31" required />
                            </div>
                            <div class="col-4 ">
                                <input type="number" class="fleet-input" id="fleet-data-month" min="1" max="12" required/>
                            </div>
                            <div class="col-4 ">
                                <input type="number" class="fleet-input" id="fleet-data-year" min="2018" max="2100" required />
                            </div>
                        </div>

                        <!-- time of measurement -->
                        <div class="form-group row">
                            <div class="col-12">
                                Time of measurement (local time, military time)*
                            </div>

                            <div class="col-4">
                                <input type="time" id="fleet-data-time" class="fleet-input" required />
                            </div>
                        </div>
                        <p id="forgot-something" style="display: none; text-align: center;"><i>All boxes with a * are mandatory</i></p>
                        <p id="forgot-something1" style="display: none; text-align: center;"><i>Make sure you submit valid latitude and longitude values.</i></p>
                        <p id="forgot-something2" style="display: none; text-align: center;"><i>Make sure you submit a valid date.</i></p>


                        <!-- add and submit -->
                        <div if="final-form" class="form-group text-center">

                        </div>
                        <div class="form-group">
                            <input type="submit" onclick="clickSubmit()" value="Submit" class="fleet-btn-full-width">
                        </div>
                        <p id="link-to-App1" style="text-align: center;"><i>Want do submit data with your mobile phone? Click <a href="index.html?/=download-app" style="color: #AFA7A3"><b>here</b></a> to download the app!</i></p>
                    </div>

                    </div>

                    <div id="no-accepted-request">
                        <h1>Welcome to Fleet Science!</h1>
                        <p>We would like to help you get started:
                        <p>1. Go to your profile to complete the required information.
                        <p>2. Go to the requests to search for a request that you can fulfill and accept this request.</p>
                        <p>3. Go gather the requested data and submit it through the dashboard.</p>
                    </div>

                    <div id="box-form-thank" style="display: none">
                        <br>
                        <p style="text-align: center;">Your data is successfully uploaded to the database.
                        <br></p>
                        <div class="form-group">
                            <input type="submit" onclick="submitData()" value="Ok" class="btn btn-default button-accept-requests">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- right -->
    <div class="col-3">
        <!-- chatbox -->
        <div class="light-grey text-center">
            <div class="grey title-holder">
                <h3 class="special-font">Chatbox</h3>
            </div>
            <br>
            <p>
                <!--<span id="newmsg-chip" class="notification-chip "><span id="loggedin-num-messages-a"></span></span>
                <span class="h6">New admin message<span id="loggedin-num-messages-add-a"></span></span>-->
                <div class="amount-circle" style="margin-left: 50px"><span id="loggedin-num-messages-a" style="padding-top: 2px;"></span></div>
                <p class="p-circle" style="float: left;"> New administator message<span id="loggedin-num-messages-add-a"></span></p>
            </p>
            <p>
                    <!--<span id="accepted-chip" class="notification-chip"><span id="loggedin-num-messages-p"></span></span>
                    <span class="h6">New personal messages<span id="loggedin-num-messages-add-a"></span></span>-->
                <div class="amount-circle" style="margin-left: 50px; margin-bottom: 20px;"><span id="loggedin-num-messages-p" style="padding-top: 2px;"></span></div>
                <p class="p-circle" style="float: left;"> New personal message<span id="loggedin-num-messages-add-p"></span></p>
            </p>
            <div style="clear: both; margin-bottom: -5px">
            <button onclick="window.location.href='?/=chatbox-sailor'" class="fleet-btn" href="?/=chatbox-sailor">View</button>
            </div>
        </div>
        <br>
        <!-- Accepted requests -->
        <div class="light-grey text-center">
            <div class="grey title-holder">
                <h3 class="special-font">All Requests</h3>
            </div>
            <br>
            <p>
                <div class="amount-circle" style="margin-left: 50px; margin-bottom: 20px;"><span style="padding-top: 3px" id="loggedin-num-new-requests"></span></div>
                <p class="p-circle" style="float: left;">  New data request<span id="loggedin-num-requests-add"></span></p>
            </p>
            <div style="clear: both; margin-bottom: -5px">
                <button onclick="window.location.href='?/=all-requests-sailor'" class="fleet-btn" href="?/=chatbox-sailor">View</button>
            </div>
        </div>
        <br>

    </div>
</div>

<script>

window.onload = onload_page();
function onload_page() {
    if (loggedIn()) {
        var num_messages_p = numberMessages();
        var num_messages_a = numberMessagesAdmin();
        var num_messages_additional_p = "";
        var num_messages_additional_a = "";
        var set_fullname = loggedInFullName();
        var set_new_requests = numberNewRequests();
        var num_new_requests_additional = "";

        setText('loggedin-username1', set_fullname);
        setText('loggedin-num-messages-p', num_messages_p);
        setText('loggedin-num-messages-a', num_messages_a);
        setText('loggedin-num-new-requests', set_new_requests);
        if(numberMessages() == 0 || numberMessages()>1){
          setText('loggedin-num-messages-add-p', "s");
        }
        if(numberMessagesAdmin() == 0 || numberMessagesAdmin()>1){
          setText('loggedin-num-messages-add-a', "s");
        }
        if(numberNewRequests() == 0 || numberNewRequests()>1){
            setText('loggedin-num-requests-add', "s");
        }
    }
}
    /*function checkDates(day,month,year){ WHYYYYYYYYYYYY
        else if((month==2 && day>29) || (month==4 && day>30) || (month==6 && day>30) ||
                 (month== && day>30) || (month==11 && day>30)){
            return false;
        }
        return true;
    }*/
function clickSubmit(){
    var requestid = document.getElementById("requestid").value;
    var dataValue = document.getElementById("fleet-data-value").value;
    var latitude  =  document.getElementById("fleet-data-latitude").value;
    var longitude  =  document.getElementById("fleet-data-longitude").value;
    var date=document.getElementById("fleet-data-day").value + "-" +
             document.getElementById("fleet-data-month").value + "-" +
            document.getElementById("fleet-data-year").value;
    var dataTime=document.getElementById("fleet-data-time").value;

    /*if(!checkDates(getElementById("fleet-data-day"),getElementById("fleet-data-month"),getElementById("fleet-data-year"))){
                document.getElementById("forgot-something2").style.display = "";
        }*/
    if((typeof latitude != 'number' && !isFinite(latitude)) || (typeof latitude != 'number' && !isFinite(longitude))){
            document.getElementById("forgot-something1").style.display = "";
    } else if(requestid && dataValue && latitude && longitude && date && dataTime){
        //document.getElementById("box-form-data").style.display = "none";
        document.getElementById("forgot-something").style.display = "none";
        document.getElementById("forgot-something1").style.display = "none";
        document.getElementById("box-form-confirm").style.display = "";
        document.getElementById("requestid").disabled = true;
    } else{
        document.getElementById("forgot-something").style.display = "";
        document.getElementById("forgot-something1").style.display = "none";
    }
}

function clickConfirm(){
    document.getElementById("box-form-data").style.display = "none";
    document.getElementById("box-form-thank").style.display = "";
    document.getElementById("box-form-confirm").style.display = "none";
    document.getElementById("select-data-request-box").style.display = "none";
    document.getElementById("requestid").disabled = true;
}

function clickCancel(){
    document.getElementById("box-form-data").style.display = "";
    document.getElementById("box-form-confirm").style.display = "none";
    document.getElementById("box-form-thank").style.display = "none";
    document.getElementById("requestid").disabled = false;
}

function submitData() {
    var requestid = document.getElementById("requestid").value;
    var dataValue = document.getElementById("fleet-data-value").value;
    var latitude  =  document.getElementById("fleet-data-latitude").value;
    var longitude  =  document.getElementById("fleet-data-longitude").value;
    var date=document.getElementById("fleet-data-day").value + "-" +
             document.getElementById("fleet-data-month").value + "-" +
	     document.getElementById("fleet-data-year").value;
    var dataTime=document.getElementById("fleet-data-time").value;

/*
    alert("data is to be submitted for request "+requestid+" value="+dataValue+" latitude,logitude="+latitude+","+longitude+" date="+date+" time"+dataTime);
*/

    var data = {
      "value":dataValue,
      "latitude":latitude,
      "longitude":longitude,
      "date":date,
      "time":dataTime
    };

    addData(requestid, data);
    location.reload();
}

writeAcceptedDataRequestOptions();
</script>

<script>
    var prev_onload_dashboard = window.onload;
    window.onload = onload_dashboard();

    function onload_dashboard() {
        if (prev_onload_dashboard) {
            prev_onload_dashboard();
        }
        if (loggedIn()) {
            console.log(loggedInRole())
            var set_fullname = loggedInFullName();
            var set_email = loggedInEmail();
            var set_institute = loggedInInstitute();
            var set_boatname = loggedInBoatName();
            var set_role = loggedInRole();

            function setImgSrc(id, path) {
                document.getElementById(id).src = path;
            }

            if (set_role != "sailor" && set_role == "academic") {
                window.location.replace("?/=dashboard-academic");
            } else if (set_role == "sailor") {

            }else {
                alert("not logged in!" + set_role);
                window.location.replace("?/=home");
            }

            //setText("accepted-chip", 5);
            //setText("request-chip", 3);
            setText("notification-chip", 1);

            setText('loggedin-username', set_fullname);
            setText('loggedin-username-profile', set_fullname);

            setText('loggedin-email-profile', set_email);
            setText('loggedin-boatname-profile', set_boatname);
        }
        var date = new Date();
        var element;
	element = document.getElementById("fleet-data-day");
	if (element) {
	    element.value = ""+date.getDate();
	}
	element = document.getElementById("fleet-data-month");
	if (element) {
	    element.value = ""+(1+date.getMonth());
	}
	element = document.getElementById("fleet-data-year");
	if (element) {
	    element.value = ""+date.getFullYear();
	}
	element = document.getElementById("fleet-data-time");
	if (element) {
	    element.value = ""+date.getHours()+":"+date.getMinutes();
	}
    }



</script>
