<!-- welcome message -->

<br>

<div class="row justify-content-center">

    <div class="row col-8">
        <h1 class="text-center grey-text">
            <span>
                <img src="images/symbol-academic.png" height="50px"></img> </span> Hello
            <span id='loggedin-username'></span>!
        </h1>
    </div>

    <!-- left -->
    <div class="col-5">
        <div class="light-grey">

            <div class="grey title-holder">
                <h3 class="special-font">Send data request</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-11">
                  <div id="no-my-request">
                      <h1>Welcome to Fleet science!</h1>
                      <p>We would like to help you get started:
                      <p>1. Go to your profile to complete the required information.
                      <p>2. Send a data request to sailors by using the form below to receive the data you'll need for your research.</p>
                      <p>3. Go to my requests to check the status of your request. Once the request is completed you can download the data.</p>
                      <hr>
                  </div>

                <div id="box-confirm-submit" style="display: none;">
                    <br>
                    <p style="text-align: center; font-size: 30px"><b>Warning!</b></p>
                    <p style="text-align: center;">You can not change your request after you submit it.
                    <br>
                    Do you confirm the submission of the request?</p>
                    <div class="form-group">
                        <input type="submit" onclick="clickConfirm()" value="Confirm" class="btn btn-default button-accept-requests">
                    </div>
                    <div>
                        <input type="submit" onclick="clickCancel()" value="Cancel" class="btn btn-default button-reject-requests">
                    </div>
                    <br><br>
                </div>

                <div id="box-form-thank" style="display: none">
                        <br>
                        <p style="text-align: center;">Your data request was succesfully sent to the lead boats for approval.
                        <br> You can find the status of your data request under <a href="?/=my-requests-academic">my requests</a>.
                        </p>
                        <div class="form-group">
                            <input type="submit" onclick="submitRequest()" value="Ok" class="btn btn-default button-accept-requests">
                        </div>
                    </div>


                <div id="box-form-request">

                    <!-- Data value -->
                    <div class="form-group">
                        Short description of research project*
                        <input id="desc" class="fleet-input" required placeholder="Short description (max 250 characters)" maxlength="250">
                    </div>

                    <!-- Select request -->
                    <div class="form-group">
                        Type of data*
                        <select id="kind-of-data" class="fleet-input" required>
                            <option value=""><i>-- Select the type of data that you need --</option>
                            <option value="samples">Samples</option>
                            <option value="photo">Photo</option>
                            <option value="video">Video</option>
                            <option value="audio">Audio</option>
                            <option value="samples">Samples</option>
                            <option value="ph">Acidity (pH)</option>
                            <option value="temperature">Temperature (degree celcius)</option>
                            <option value="ph">Acidity (pH)</option>
                            <option value="deg c">Temperature (ºC)</option>
                            <option value="so2">SO2 (ppm)</option>
                            <option value="no2">NO2 (ppb)</option>
                            <option value="co">CO (ppm)</option>
                            <option value="o3">O3 (ppm)</option>
                            <option value="salinity">Salinity (PSU) </option>
                            <option value="tds">TDS (mg/L)</option>
                            <option value="co2">CO2 - aq (ppm)</option>
                            <option value="so2">SO2 - aq (ppm)</option>
                            <option value="pm10">PM10</option>
                            <option value="pm2,5">PM2,5</option>
                        </select>
                    </div>

                    <!-- Area -->
                    <div class="form-group">
                        Area to do measurements*
                        <input id="area" class="fleet-input" required placeholder="Area">
                    </div>

                    <!-- Latidude -->
                    <div class="form-group row">
                        <div class="col-3">Latitude*:</div>
                        <div class="col-9 ">
                            <input id="latitude" class="fleet-input" required placeholder="e.g. 52.370216" />
                        </div>
                    </div>

                    <!-- Longitude -->
                    <div class="form-group row">
                        <div class="col-3">Longitude*:</div>
                        <div class="col-9 ">
                            <input id="longitude" class="fleet-input" required placeholder="e.g. 4.895168" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            Radius of area*
                        </div>

                        <div class="col-4">
                            <input id="radius" type="number" class="fleet-input" min="1" max="50" placeholder="km" required />
                        </div>
                        <!--</select>-->
                    </div>

                    <!-- date of measurement -->
                    <div class="form-group row">
                        <div class="col-12">
                            Date of
                            <b>first</b> measurement*
                        </div>

                        <div class="col-4">
                            <input id="first-day" type="number" class="fleet-input" min="1" max="31" placeholder="DD" required />
                        </div>
                        <div class="col-4 ">
                            <input id="first-month" type="number" class="fleet-input" min="1" max="12" placeholder="MM" required />
                        </div>
                        <div class="col-4 ">
                            <input id="first-year" type="number" class="fleet-input" min="2018" max="2100" placeholder="YYYY" required />
                        </div>
                    </div>

                    <!-- time of measurement -->
                    <div class="form-group row">
                        <div class="col-12">
                            Date of
                            <b>last</b> measurement*
                        </div>

                        <div class="col-4">
                            <input id="last-day" type="number" class="fleet-input" min="1" max="31" placeholder="DD" required />
                        </div>
                        <div class="col-4 ">
                            <input id="last-month" type="number" class="fleet-input" min="1" max="12" placeholder="MM" required/>
                        </div>
                        <div class="col-4 ">
                            <input id="last-year" type="number" class="fleet-input" min="2018" max="2100" placeholder="YYYY" required />
                        </div>
                    </div>

                    <div class="form-group">
                        Frequency of measurement(s)*
                        <select id="freq-of-measurements" class="fleet-input">
                            <option value="">-- Choose Frequency --</option>
                            <option value="daily">daily</option>
                            <option value="weekly">weekly</option>
                            <option value="monthly">monthly</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            Number of measurements per frequency*
                        </div>

                        <div class="col-4">
                            <input id="number-of-measurements" type="number" class="fleet-input" min="1" max="50" placeholder="1...50" required />
                        </div>
                        <!--</select>-->
                    </div>

                    <div class="form-group">
                        Additional information (optional)
                        <input id="additional-info" class="fleet-input" placeholder="Additional information">
                    </div>
                    <p id="forgot-something" style="display: none; text-align: center;"><i>All boxes with a <b>*</b> are mandatory</i></p>
                    <p id="forgot-something1" style="display: none; text-align: center;"><i>Make sure you submit valid latitude and longitude values.</i></p>
                    <p id="forgot-something2" style="display: none; text-align: center;"><i>Make sure you submit valid dates. Last measurement must be after first measurement.</i></p>
                    <!-- divider -->
                    <hr />

                    <div class="form-group">
                        <input type="button" onclick="clickSubmit()" value="Submit" class="fleet-btn-full-width">
                    </div>

                    <input type="hidden" name="page" value="dashboard-academic">

                    </div>

                    <div id="box-confirm-submit" style="display: none;">
                        <br>
                        <p style="text-align: center; font-size: 30px"><b>Warning!</b></p>
                        <p style="text-align: center;">You can not change your request after you submit it.
                        <br>
                        Do you confirm the submission of the request?</p>
                        <div class="form-group">
                            <input type="submit" onclick="submitRequest()" value="Confirm" class="btn btn-default button-accept-requests">
                        </div>
                        <div>
                            <input type="submit" onclick="clickCancel()" value="Cancel" class="btn btn-default button-reject-requests">
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>

    <!-- right -->
    <div class="col-3">
        <!-- chatbox -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">Chatbox</h3>
            </div>
            <br>
            <p>
                <span id="newmsg-chip" class="notification-chip ">1</span>
                <span class="h5">New message(s)</span>
            </p>
            <button onclick="window.location.href='?/=chatbox-academic'" class="fleet-btn" href="?/=chatbox-sailor">View</button>
        </div>
        <br>
        <!-- All requests -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">My requests</h3>
            </div>
            <br>
            <p>
                <span id="request-chip" class="notification-chip ">1</span>
                <span class="h5">Status update(s) of request(s)</span>
            </p>
            <button onclick="window.location.href='?/=my-requests-academic'" class="fleet-btn" href="?/=chatbox-sailor">View</button>

        </div>
        <br>
    </div>
</div>

<script>

shouldWriteAcademicWelkome();

    function clickSubmit(){
        var description = document.getElementById("desc").value;
        var kindOfData = document.getElementById("kind-of-data").value;
        var latitude = document.getElementById("latitude").value;
        var longitude = document.getElementById("longitude").value;
        var area = document.getElementById("area").value;
        var radius = document.getElementById("radius").value;
        var dateFirstMeasurment = document.getElementById("first-day").value + "-" +
            document.getElementById("first-month").value + "-" +
            document.getElementById("first-year").value;
        var dateLastMeasurement = document.getElementById("last-day").value + "-" +
            document.getElementById("last-month").value + "-" +
            document.getElementById("last-year").value;
        var freqOfMeasurments = document.getElementById("freq-of-measurements").value;
        var numberOfMeasurments = document.getElementById("number-of-measurements").value;
        var additionalInfo = document.getElementById("additional-info").value;

        console.log("descr " + description);
        console.log("type " + kindOfData);
        console.log("latitude " + latitude);
        console.log("longitude " + longitude);
        console.log("area " + area);
        console.log("radius " + radius);
        console.log("date 1 " + dateFirstMeasurment);
        console.log("date 2 " + dateLastMeasurement);
        console.log("frequency " + freqOfMeasurments);
        console.log("number of " + numberOfMeasurments);

        if((typeof latitude != 'number' && !isFinite(latitude)) || (typeof latitude != 'number' && !isFinite(longitude))){
            document.getElementById("forgot-something1").style.display = "";
        }
        /*if(!checkDates(getElementById("first-day"),getElementById("first-month"),getElementById("first-year"),getElementById("last-day"),getElementById("last-month"),getElementById("last-year"))){
                document.getElementById("forgot-something2").style.display = "";
        }*/
        else if(description && kindOfData && latitude && longitude && area && radius && dateFirstMeasurment && dateLastMeasurement && freqOfMeasurments && numberOfMeasurments){
            document.getElementById("box-confirm-submit").style.display = "";
            document.getElementById("forgot-something1").style.display = "none";
            document.getElementById("forgot-something2").style.display = "none";
            document.getElementById("forgot-something").style.display = "none";
        } else{
            document.getElementById("forgot-something").style.display = "";
            document.getElementById("forgot-something1").style.display = "none";
            document.getElementById("forgot-something2").style.display = "none";
        }
    }

    /*TODO - WHY NOT WORKING?
    function checkDates(day,month,year,day1,month1,year1){
        if( year1<year || (year1==year && month1<month) || (year==year1 && month==month1 && day1<day)){
            return false;
        }
        else if((month==2 && day>29) || (month1==2 && day1>29) || (month==4 && day>30) || (month1==4 && day1>30) || (month==6 && day>30) ||
                (month1==6 && day1>30) || (month== && day>30) || (month1==9 && day1>30) || (month==11 && day>30) || (month1==11 && day1>30)){
            return false;
        }
        return true;
    }*/

    function clickCancel(){
        document.getElementById("box-form-request").style.display = "";
        document.getElementById("box-confirm-submit").style.display = "none";
    }

    function clickConfirm(){
        document.getElementById("box-form-request").style.display = "none";
        document.getElementById("box-form-thank").style.display = "";
        document.getElementById("box-confirm-submit").style.display = "none";
    }

    function submitRequest() {
        // alert("hh")
        var description = document.getElementById("desc").value;
        var kindOfData = document.getElementById("kind-of-data").value;
        var latitude = document.getElementById("latitude").value;
        var longitude = document.getElementById("longitude").value;
        var area = document.getElementById("area").value;
        var radius = document.getElementById("radius").value;
        var dateFirstMeasurment = document.getElementById("first-day").value + "-" +
            document.getElementById("first-month").value + "-" +
            document.getElementById("first-year").value;
        var dateLastMeasurement = document.getElementById("last-day").value + "-" +
            document.getElementById("last-month").value + "-" +
            document.getElementById("last-year").value;
        var freqOfMeasurments = document.getElementById("freq-of-measurements").value;
        var numberOfMeasurments = document.getElementById("number-of-measurements").value;
        var additionalInfo = document.getElementById("additional-info").value;
        /*
            alert("data is to be submitted for request "+requestid+" value="+dataValue+" latitude,logitude="+latitude+","+longitude+" date="+date+" time"+dataTime);
        */
        //window.location = "?/=requested-academic";
        addNewRequest(area,description,kindOfData,"Pending Approval",freqOfMeasurments,dateLastMeasurement);
        location.reload();
        //console.log(addRequest);
      }
    setText("accepted-chip", 5);
    setText("request-chip", 3);
    setText("notification-chip", 1);

    var prev_onload_dashboard = window.onload;
    window.onload = onload_dashboard();

    function onload_dashboard() {
        if (prev_onload_dashboard) {
            prev_onload_dashboard();
        }
        if (loggedIn()) {

            var set_fullname = loggedInFullName();
            var set_email = loggedInEmail();
            var set_institute = loggedInInstitute();
            var set_boatname = loggedInBoatName();

            setText('loggedin-username', set_fullname);
            setText('loggedin-username-profile', set_fullname);

            setText('loggedin-email-profile', set_email);
            setText('loggedin-boatname-profile', set_boatname);
        }
    }
</script>
