<!-- welcome message -->

<br>

<div class="row justify-content-center">

    <div class="row col-8">
        <h1 class="text-center grey-text">
            <span>
                <img src="images/symbol-academic.png" height="50px"> </span> Hello
            <span id='loggedin-username'></span>!
        </h1>
    </div>

    <!-- left -->
    <form name="newRequest" action="#" class="col-5" onsubmit"return validateNewRequest(document.forms.newRequest.desc.value, document.forms.newRequest.dataRequest.value, document.forms.newRequest.area.value, document.forms.newRequest.latitude.value, document.forms.newRequest.longitude.value)">

        <div class="light-grey">
            <div class="grey title-holder">
                <h3 class="special-font">Send data request</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-11">

                    <!-- Data value -->
                    <div class="form-group">
                        Short description of research project (max 100 words)
                        <input name="desc" class="fleet-input" placeholder="Title of data" >
                    </div>

                    <!-- Select request -->
                    <div class="form-group">
                        Select data request*
                        <select name="dataRequest" class="fleet-input">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>

                    <!-- Data value -->
                    <div class="form-group">
                        Area*
                        <input name="area" class="fleet-input" placeholder="..." >
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            Radius of area (km)*
                        </div>
                        <div class="col-4">
                            <input type="number" class="fleet-input" min="1" max="50" />
                        </div>
                        </select>
                    </div>
                    <!-- Latidude -->
                    <div class="form-group row">
                        <div class="col-3">Latitude*:</div>
                        <div class="col-9 ">
                            <input name="latitude" class="fleet-input" placeholder="Title of data"  />
                        </div>
                    </div>

                    <!-- Longitude -->
                    <div class="form-group row">
                        <div class="col-3">Longitude*:</div>
                        <div class="col-9 ">
                            <input name="longitude" class="fleet-input" placeholder="Title of data"  />
                        </div>
                    </div>

                    <!-- date of measurement -->
                    <div class="form-group row">
                        <div class="col-12">
                            Date of first measurement*
                        </div>

                        <div class="col-4">
                            <input type="number" class="fleet-input" min="0" max="100" />
                        </div>
                        <div class="col-4 ">
                            <input type="number" class="fleet-input" min="0" max="100" />
                        </div>
                        <div class="col-4 ">
                            <input type="number" class="fleet-input" min="0" max="100" />
                        </div>
                    </div>

                    <!-- time of measurement -->
                    <div class="form-group row">
                        <div class="col-12">
                            Date of last measurement*
                        </div>

                        <div class="col-4">
                            <input type="time" class="fleet-input" />
                        </div>
                        <div class="col-4 ">
                            <input type="number" class="fleet-input" name="points" min="0" max="100" />
                        </div>
                        <div class="col-4 ">
                            <input type="number" class="fleet-input" min="0" max="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        Frequency of measurement(s)*
                        <select class="fleet-input">
                            <option value="volvo">daily</option>
                            <option value="saab">bi-daily</option>
                            <option value="opel">weekly</option>
                            <option value="audi">monthly</option>
                        </select>
                    </div>

                    <div class="form-group">
                        Number of samples per measurement*
                        <select class="fleet-input">
                            <option value="volvo">XX</option>
                        </select>
                    </div>

                    <div class="form-group">
                        Additional information (optional)
                        <input class="fleet-input" placeholder="" >
                    </div>
                    <!-- divider -->
                    <hr />

                    <div class="form-group text-center">
                        <a href="" class="fleet-btn-round">
                            <label>+</label>
                        </a>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="submit" class="fleet-btn-full-width">
                    </div>

                    <input type="hidden" name="page" value="dashboard-academic">
                </div>
            </div>
        </div>
    </form>
    <!-- right -->
    <div class="col-3">
        <!-- chatbox -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">Chatbox</h3>
            </div>
            <br>
            <p>
                <span id="newmsg-chip" class="notification-chip ">1</span>
                <span class="h5">New message(s)</span>
            </p>
            <a class="fleet-btn" href="?/=chatbox">View</a>
        </div>
        <br>
        <!-- All requests -->
        <div class="light-grey medium text-center">
            <div class="grey title-holder">
                <h3 class="special-font">My requests</h3>
            </div>
            <br>
            <p>
                <span id="request-chip" class="notification-chip ">1</span>
                <span class="h5">Status update(s) of request(s)</span>
            </p>
            <a class="fleet-btn" href="?/=all-requests">View</a>

        </div>
        <br>

    </div>
</div>
<script>
    function validateNewRequest(desc, request, area, latitude, longitude) {

        alert(desc + request + area + latitude + longitude)
    }

    setText("accepted-chip", 5);
    setText("request-chip", 3);
    setText("notification-chip", 1);
    
    var prev_onload_dashboard = window.onload;
    window.onload = onload_dashboard();

    function onload_dashboard() {
        if (prev_onload_dashboard) {
            prev_onload_dashboard();
        }
        if (loggedIn()) {

            var set_fullname = loggedInFullName();
            var set_email = loggedInEmail();
            var set_institute = loggedInInstitute();
            var set_boatname = loggedInBoatName();



            setText('loggedin-username', set_fullname);
            setText('loggedin-username-profile', set_fullname);

            setText('loggedin-email-profile', set_email);
            setText('loggedin-boatname-profile', set_boatname);
        }
    }
</script>