
    <h1 class="uk-text-center">Login</h1>
    <br>
    <form name="login" class="" action="dashboard-scientist.html" onsubmit="return validateLogin(document.forms.login.uname.value)">
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium uk-align-center" type="text" name="uname" placeholder="username">
        </div>
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium uk-align-center" type="password" placeholder="password">
        </div>
        <button class="uk-button uk-align-center yellow border-radius white-text" type="submit">Submit</button>
    </form>
    <a class="uk-align-center uk-text-center" href="forgot-pass.html">Forgot your password</a>
    <br>
    <p class="uk-align-center uk-text-center">Or
        <a class="uk-button yellow border border-radius white-text" href="sign-up-scientist.html">Sign up</a> if you do not have an account</p>
    </div>