.yellow{
    background-color: $prim-yellow;
}

.blue{
    background-color: $prim-blue !important;
}

.light-grey{
    background-color: #ededed !important;
    padding-bottom: 30px;
}

.grey{
    background-color: #a8a8a8 !important;
}
.white-text *, .white-text{
    color: white !important;
}

.light-grey-text *, .light-grey-text{
    color: #ededed !important;
}

.grey-text *, .grey-text{
    color: #AFA7A3!important;
}

.black-font {
  color: black!important;
  a {
    color: white!important;
  }
}
