.yellow{
    background-color: $prim-yellow;
}

.blue{
    background-color: $prim-blue !important;
}

.light-grey{
    background-color: #ededed !important;
}

.grey{
    background-color: #a8a8a8 !important;
}
.white-text *, .white-text{
    color: white !important
}