<img src="images/about-image1.jpg" style="width: 100%"/>


<div class="row justify-content-center">
        <div class="col-6">
                <br>
                <h1 style="font-size: 25px">About us</h1>

                <p style="text-align:justify">
                The Fleet Science platform is initiated by Conor and Sarah la Grue from Given Time. This is their story.
                </p>

                <p style="text-align:justify">
                This seven-year exploration mission will see us circumnavigate the globe, a huge adventure in its own right!
                But this sailing expedition is way more than just a lap around the planet!  We will be the lead vessel in a
                collaborative marine ecology research project, which will see the worlds cruising community work hand in hand
                with the worlds scientific community.  We are creating a global network of free resource for marine expedition
                research - A first of its kind mission of “Exploration through Collaboration” - not crowd science but “Fleet Science!”
                </p>

                <p style="text-align:justify">
                We also plan to open up our vessel, our home, to visiting environmentalists, researchers, academics and scientists
                and host them to further enable their research! All while we cross oceans and visit remote locations - again providing
                this hosting as a free resource to the science community. The oceans belong to all 7.6 billion of us humans here on Earth,
                but we are often made to feel like their health is a far away issue and just not our problem! But they belong to you too,
                so it’s truly everyone’s problem!
                </p>

                <p style="text-align:justify">
                This crew have previously produced documentaries as both presenters and as contributors and worked in a high innovation,
                open technology, sharing, outreach and education innovation environment for the best part of a decade. They also have
                broad fundraising, open source project experience, key story telling skills and vital social media, photography, videography,
                production experience to help bring all this fleet science exploration through collaboration story to life!
                </p>

                <p style="text-align:justify">
                To that end as well as launching and managing the Fleet Science project, the crew are also filming a supporting documentary
                series - “Sailing Given Time” its main aim to follow this entire adventure from the point where they sold their house and
                moved to a life afloat on SV Given Time - through to their global travel and adventures as they complete this seven-year
                mission. This expedition will take them to places of exceptional natural beauty and they will share the best and the worst
                of what they find in this multi season documentary series.
                </p>

                <img  src="images/conor-and-sarah.jpg">

                <br>
                <br>

                <h1 style="font-size: 25px">Get in touch</h1>

                <a href="http://www.sailinggiventime.com" target="_blank"><img  src="images/logo-background.jpg" style="width:100px"></a>
                <a href="https://www.facebook.com/svgiventime/" target="_blank"><img  src="images/facebook-logo.jpg" style="width:100px"></a>
                <a href="https://www.instagram.com/svgiventime/" target="_blank"><img  src="images/instragram-logo.jpg" style="width:100px"></a>
                <a href="https://twitter.com/svgiventime" target="_blank"><img  src="images/twitter-logo.jpg" style="width:100px"></a>

                <br>
                <br>
                <h1 style="font-size: 25px">FAQ: Costs, Partners and Help</h1>
                <p style="text-align:justify">
                Costs? Yes lots of them! - we have invested everything to get this project started, so we very much welcome your support in
                whatever form it comes from; producing project assets and providing digital hosting and infrastructure to support in
                equipment for the expedition or primary funding!
                </p>

                <p style="text-align:justify">
                We especially want to say thank you so much to all the existing supporting companies and equipment providers that are making
                this expedition possible! We literally couldn’t do this without your support! Short videos to follow to tell you all more
                about each of our fantastic partner companies!
                </p>

                <p style="text-align:justify">
                It’s our aim to make the “Fleet Science” project cost neutral for both the participating cruisers and also the science community too!
                - Not an unsubstantial challenge! But we have made a great start!
                </p>

                <p style="text-align:justify">
                To do that we still need help delivering both digital and scientific resources to the fleet - some of which we have underway, some of which
                we have yet to get started! Think you can help? Please do get in touch or sign up to the platform.
                </p>

                <p style="text-align:justify">
                If you are a company that would like to support our efforts with resource, knowhow, equipment or funding - then great! do please
                get in touch and we can get together to see how you could help.
                </p>

                <br>
                <table style="width:100%; font-size: small;" cellpadding="10">
                    <tbody>
                        <tr>
                            <td align="center" style="padding-bottom: 0px;"><img  src="http://www.sailinggiventime.com/uploads/1/0/8/4/108431695/mettle-pr-logo_orig.jpg" style="width:100px"></td>
                            <td align="center" style="padding-bottom: 0px;"><img  src="http://www.sailinggiventime.com/uploads/1/0/8/4/108431695/farmfilm-logo_orig.png" style="width:80px"></td>
                            <td align="center" style="padding-bottom: 0px;"><img  src="http://www.sailinggiventime.com/uploads/1/0/8/4/108431695/editor/uva-logo-english.jpeg?1507036181" style="width:100px"></td>
                            <td align="center" style="padding-bottom: 0px;"><img  src="http://www.sailinggiventime.com/uploads/1/0/8/4/108431695/published/mactra-logo.jpeg?1507036246" style="width:100px"></td>
                            <td align="center" style="padding-bottom: 0px;"><img  src="http://www.sailinggiventime.com/uploads/1/0/8/4/108431695/logo2_orig.png" style="width:100px"></td>
                            <td align="center" style="padding-bottom: 0px;"><img  src="http://www.sailinggiventime.com/uploads/1/0/8/4/108431695/published/rpc-2017-logo.png?1516296228" style="width:100px"></td>
                        </tr>
                        <tr>
                            <td align="center" style="padding-top: 0px;">Mettle PR</td>
                            <td align="center" style="padding-top: 0px;">Farm Film</td>
                            <td align="center" style="padding-top: 0px;">University of Amsterdam</td>
                            <td align="center" style="padding-top: 0px;">Mactra Marine</td>
                            <td align="center" style="padding-top: 0px;">Yachtmail Chandlery</td>
                            <td align="center" style="padding-top: 0px;">Red Paddle CO</td>
                        </tr>
                    </tbody>
                </table>
        </div>
      </div>
