<div style="height:100px;">
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <h1 class="grey-text">Account created!</h1>
        <br>
        <p class="grey-text">
        You will receive an email with a link to validate your email address.
        After validating your email adress, the administators of this platform
        first have to accept you before you can enter the platform.
        You will receive an email once you've been accepted. Click <a href="?/=home"><b>here</b></a> to go back to home.<br><br>
      </p>
      <p class="grey-text">
        In this prototype, you can login after signing up. Click <a href="?/=login"><b>here</b></a> to go to the login page.
      </p>
    </div>
</div>
