<div style="height:100px;">
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <h1 class="grey-text">Almost Finished!</h1>
        <br>
        An account has been created. In the real version you would receive an email with a link validating your email address. In this prototype, it is sufficient to click <a href="index.html?/=dashboard-sailor">here if you are a sailor</a>. or here <a href="index.html?/=dashboard-academic">if you are an academic.</a>
    </div>
</div>



