
<p class="p-sitemap"><a class="a-sitemap"href="_profile.html">Profile</a> / <strong>Edit password</strong></p>

<div class="container container-edit-password">
    <h2 class="h2-change-password h2-profile">Edit password</h2>
    <input class="text-form" type="text" placeholder="Old password...">
    <input class="text-form" type="text" placeholder="New password...">
    <input class="text-form" type="text" placeholder="Repeat new password...">
    <a href="_profile.html" class="button-save button-profile">Save</a>
</div>
