
<p class="p-sitemap"><a class="a-sitemap"href="?/=profile">Profile</a> / <strong>Edit password</strong></p>

<div class="container container-edit-password">
    <h2 class="h2-change-password h2-profile">Edit password</h2>
    <input class="text-form" type="password" placeholder="Current password">
    <input class="text-form" type="password" placeholder="New password">
    <input class="text-form" type="password" placeholder="Repeat new password">
    <div class="div-buttons">
        <a href="?/=profile" class="button-cancel button-profile">Cancel</a>
        <a href="?/=profile" class="button-save button-profile">Save</a>
    </div>
</div>
