<div style="height:100px;">
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <h1 class="grey-text">Forgot your password?</h1>
        <br>
        <p class="grey-text">
         In the real version we would ask you to enter your email to reset your password.
         In this prototype, it is sufficient to click <a class="a-forgotpassword" href="index.html?/=dashboard-sailor"><b>here</b></a>
         to login as a sailor, or click <a class="a-forgotpassword" href="index.html?/=dashboard-academic"><b>here</b></a> to login as an academic.
       </p>
    </div>
</div>
