<div style="height:100px;">
</div>
<div class="row justify-content-center" id="forgot_pass">
    <div class="col-3">
        <h1 class="grey-text">Forgot password?</h1>
        <br>
        <form class=" text-center" action="javascript:submittedForgotPassword()";>
            <div class="form-group">
                <input class="fleet-input" type="text" name="uname" placeholder="Email" required>
            </div>
            <br>
            <button class="fleet-btn-full-width button-login" placeholder="Email">Submit</button>
        </form>
    </div>
</div>

<div class="row justify-content-center" id="forgot_pass1" style="display: none;">
    <div class="col-3">
        <h1 class="grey-text">Email has been send!</h1>
        <br>
        <p class="grey-text">
          You received an email with a link to reset your password.
       </p>
       <p class="grey-text">
         In this prototype, you can login with any password. Click <a href="?/=login"><b>here</b></a> to go back to the login page.
      </p>
    </div>
</div>

<script>
  function submittedForgotPassword(){
    console.log("OIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII");
    document.getElementById("forgot_pass1").style.display = "";
    document.getElementById("forgot_pass").style.display = "none";
  }

</script>