<img src="images/landing-image.jpg" style="width: 100%;"/>


<div class="row justify-content-center">
        <div class="col-6">
                <br>
                <h1>Fleet Science </h1>
                <p><b><i>Exploration through collaboration</i></b></p>
                <p style="text-align:justify"> 
                <b>Explore: </b> This seven year exploration mission will see us circumnavigate the globe, a huge adventure in its own right!  But this sailing expedition is way more than just a lap around the planet! 
                <br>
                We will be the lead vessel in a collaborative marine ecology research project, which will see the worlds cruising community work hand in hand with the worlds scientific community. 
                <br>
                This platform is a global network of free resource for marine expedition research - A first of its kind mission of “Exploration through collaboration” - not crowd science but “fleet science!”​
                <br>
                We also plan to open up our vessel, our home, to visiting environmentalists, researchers, academics and scientists and host them to further enable their research! All while we cross oceans and visit remote locations - again providing this hosting as a free resource to the science community. 
                </p>
                <p style="text-align:justify">
                <b>Search:</b> There are over 3000 long term global cruising boats traveling all over the world and increasingly now also cruising in the lower and higher extreme ocean latitudes with a 1000 more boats making the change to a long term life afloat every year.
                <br>
                The oceans are their home, so they are perhaps inevitable more aware of the challenges our oceans face than those of us more removed and living on land.  An open, caring, practical and frankly awesome community - these global explorers travel far and wide including places that research vessels can't, won't or will never get funding to visit!
                <br>
                This collaboration, this fleet science mission, will allow those of us that call the ocean home to share just a bit of what’s happening to our oceans with those that live on land and to support the marine research community in conducting useful, purposeful study that will help to inform and protect our oceans for future generations.
                <br>
                An initial Beta fleet of just a dozen vessels spread globally across our oceans, will then work to grow and collaboratively manage a much larger fleet that will grow to who knows how big! We are creating resources and tools that will allow the project to grow beyond what we can conceive today. We are empower the project to be the most impactful it can possibly be, by not constraining its potential here at the very beginning! 
                </p>
                <p style="text-align:justify">
                <b>Share:</b> We plan on sharing it with you all, the best of of it and and the worst of what we as a fleet discover! We will act as your eyes and ears out on the oceans, the health of which, all our lives depend on so much! We intent to talk to local communities, about their ocean and put a face and a narrative to the impact to coastal communities all over the world.
                <br>
                The oceans belong to all 7.6 billion of us humans here on Earth, but we are often made to feel like their health is a far away issue and just not our problem! But they belong to you too, so it’s truly everyone’s problem! 
                <br>
                So the best and the worst of the imagery, video and human stories that we discover will be shared! It will all be available completely openly and we encourage educators and influencers to use these ever growing resources to inform and educate on this vital global issue. We are working with digital experts to produce a database of these resources to make data collection and sharing easy and for everyone to be able to share.
                <br>
                This crew have previously produced documentaries as both presenters and as contributors and worked in a high innovation, open technology, sharing, outreach and education innovation environment for the best part of a decade. 
                <br>
                The crew have broad fundraising, open source project experience, key story telling skills and vital social media, photography, videography, production experience to help bring all this fleet science exploration through collaboration story to life! 
                <br>
                To that end as well as launching and managing the Fleet Science project, the crew are also filming a supporting documentary series - “Sailing Given Time” its main aim to follow this entire adventure from the point where they sold their house and moved to a life afloat on SV Given Time - through to their global travel and adventures as they complete this seven year mission. This expedition will take them to places of exceptional natural beauty and they will share the best and the worst of what they find in this multi season documentary series.
                </p>
        </div>

      </div>
