<div class="holder" style="width: auto; display: inline-block;">
  <img id="landingImage" src="images/landing-image.jpg" style="width: 100%"/>
</div>


<div class="row justify-content-center">
    <div class="col-6">
            <br>
            <h1 style="font-size: 40px; text-align: center; color: dimgray;">Exploration through collaboration</h1>
            <br>
            <h1 style="font-size: 25px">Mission</h1>
            <p style="text-align:justify">
              Fleet Science is a collaborative marine ecology research project, which will see the worlds cruising community work hand in hand
              with the world's scientific community. This platform is a global network of free resource for marine expedition research – A first
              of its kind “Exploration through Collaboration” - not crowd science but “Fleet Science!”​

              By bridging the gap between sailors and marine scientists, data gathered by sailors offers marine scientists a starting point to
              beat the ocean's deterioration. Besides, the data gathered by sailors can be used to create public awareness about the changes of
              the oceans. The goal of the platform Fleet Science is therefore to provide a general interface for marine scientists, sailors and
              the public, where marine scientists can send data requests, sailors can upload data and the public can view the gathered data in
              a playful way.

            </p>
            <br>
            <h1 style="font-size: 25px">Vision</h1>
            <p style="text-align:justify">
              The oceans cover 70 percent of the world's surface, produce over 50 percent of the oxygen, absorb 50 percent of the carbon produced
              and account for 80 percent of our biodiversity. Unfortunately, the oceans are changing continuously at alarming proportions, as a
              result of persistent climate change and human activities. The urgency of ocean preservation is acknowledged by renowned international
              institutions, which motivates the necessity to create public awareness about the changes of the oceans, and to explore innovative ways
              to provide marine scientists with data they need to study the oceans.

              To address this problem, the platform Fleet Science is established by a collaboration between the global sailor community and the global
              marine research community. Sailors who make round-the-world trips are able to gather data for marine scientists in a time efficient and
              cost-effective way, and in areas which are hardly accessed by traditional research vessels.

            </p>
            <br>
            <h1 style="font-size: 25px">Want to get involved?</h1>
            <p style="text-align:justify">
              If you are a sailor, then please register your vessel and participate in data collection around the world. Please add as much details about
              your vessel and trip as possible for collaboration with the academics. Once you have registered one of our lead boats will review your request.
              After acceptance you can start sharing! If you are a member of the scientific community, a researcher, an environmentalist and you would like
              us to collect a specific piece of data, use a specific portable instrument or you want to be hosted on a fleet boat - please register as an
              academic and start creating data requests.
            </p>

            <br>
            <h1 style="font-size: 25px">Join Fleet Science now!</h1>
            <p style="text-align:justify; color: grey">
                1. Go to the <a href="?/=sign-up" style="color: grey"><b>sign up</b></a> page to create an account.<br>
                2. Choose whether you are a scientist or sailor and fill in the required information. Later, when your profile is created, you will be asked to enter more details.<br>
                3. Once you have completed the form, your request to join the community will be handled by the administrators of the platform.<br>
                4. If your application has been approved, you are ready to use the platform!
            </p>
            <br>
    </div>
</div>
