<img src="images/landing-image.jpg" style="width: 100%"/>


<div class="row justify-content-center">
    <div class="col-6">
            <br>
            <br>
            <h1>Fleet Science </h1>
            <h2 style="font-size: 25px; color: #AFA7A3;"><i>Exploration through collaboration</i></h2>
            <br>
            <h1 style="font-size: 25px">Mission</h1>
            <p style="text-align:justify">
                It would be easy to do this trip for it’s own sake, it is a huge challenge after all! Keep in mind more people have summited Everest than have sailed around the world. But we wanted the trip to be well … more, to truly achieve something and perhaps do a little good in the process. So we have sold our home and invested all that we have and are putting all our energy into this new and exciting project.​
            </p>
            <br>
            <h1 style="font-size: 25px">Vision</h1>
            <p style="text-align:justify">
                Our oceans have changed and are continuing to change at an alarming rate, and no one fully understands the impact to the planet and the biological effect on humans. There are some truly great satellite resources, individual research projects and studies underway.  But the oceans are, well frankly … huge!  There needs to be more local, on site data, from around the world, if we are to start to understand the true impact. We also need to talk to local communities and hear the human narrative to truly help us understand what’s happening to our oceans and seas.
            </p>
            <br>
            <h1 style="font-size: 25px">Want to get involved?</h1>
            <p style="text-align:justify">
                If you are a sailor then please register your vessel and participate in data collection around the world. Please add as much details about your vessel and trip as possible for collaboration with the academics. Once you have registered one of our lead boats will review your request. After acceptance you can start sharing!
                If you are a member of the scientific community, a researcher, an academic, an environmentalist and you would like us to collect a specific piece of data, use a specific portable instrument or you want to be hosted on a fleet boat - please register as an academic and start creating data requests.
            </p>
            <br>
    </div>
</div>
