
    <div class="container">
        <div class="container-profile row">
            <div class="col-md-11">
                <br>
                <h1 class="h1-profile">Profile</h1>
                <div class="row">
                <!--................. Column profile ................. -->
                    <div class="column-profile col-4">
                        <img class="img-profile" src="links/conor.png">
                        <button type="button" data-toggle="modal" data-target="#myModal" class="button-profile">Upload a new picture</button>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="header-column">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="h2-header">Choose a new profile picture</h2>
                              </div>
                              <div class="modal-body">
                                <p class="p-modal">You can upload a JPG, GIF or PNG image. Max file size: 2 MB.</p>
                                <input type="file" class="button-grey-file"></input>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" data-dismiss="modal" class="button-profile button-grey">Cancel</button>
                                  <button type="button" data-dismiss="modal" class="button-profile button-upload-modal">Upload</button>
                              </div>
                            </div>

                          </div>
                        </div>
                        <!-- End modal -->
                        <p class="p-profile">
                            <strong>Name:</strong> Conor La Grue
                            <br>
                            <strong>Status:</strong> Lead Boat
                            <br>
                            <strong>Vessel name:</strong> Given Time
                        </p>
                    </div>
                <!--................. End column profile ................. -->

                <!--................. Column personal information ................. -->
                    <div class="column-all col-8">
                        <div class="column-personal-information">
                            <div class="header-column">
                                <h2 class="h2-header">Personal information</h2>
                            </div>
                            <table class="table-profile">
                                <tr>
                                    <td class="td-name">Name:</td>
                                    <td>Conor La Grue</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Email:</td>
                                    <td>conorlagrue@gmail.com</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Password:</td>
                                    <td>**********</td>
                                    <td class="td-edit"><a href="_edit-password.html"><strong>edit</a></td></strong>
                                </tr>
                                <tr>
                                    <td class="td-name">Country:</td>
                                    <td>United Kingdom</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                            </table>
                        </div>
                    <!--................. End column personal information ................. -->

                    <!--................. Column vessel information ................. -->
                        <div class="column-vessel-information">
                            <div class="header-column">
                                <h2 class="h2-header">Vessel information</h2>
                            </div>
                            <table class="table-profile">
                                <tr>
                                    <td class="td-name">Vessel name:</td>
                                    <td>Given time</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Vessel registration number:</td>
                                    <td>SSR 928688</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Country of registration:</td>
                                    <td>United Kingdom</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Name of skipper:</td>
                                    <td>Conor La Grue</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Vessel type:</td>
                                    <td>Ocean going Sailing yeacht - sloop</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Vessel length:</td>
                                    <td>13 Meters</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Vessel draft:</td>
                                    <td>2 Meters</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Equipment on board:</td>
                                    <td>Compressor and plenty of kit with experienced divers aboard.</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Variables:</td>
                                    <td>pH, temperature, videos, photos</td>
                                    <td class="td-edit"><a href="_variables.html"><strong>edit</strong></a></td>
                                </tr>
                            </table>
                        </div>
                    <!--................. End column vessel information ................. -->

                    <!--................. Column location information ................. -->
                        <div class="column-location-information">
                            <div class="header-column">
                                <h2 class="h2-header">Location information</h2>
                            </div>
                            <table class="table-profile">
                                <tr>
                                    <td class="td-name">Current Location:</td>
                                    <td>Indian ocean</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Last updated position:</td>
                                    <td>12.1642° S, 96.8710°</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Upcoming ocean passages and rough dates:</td>
                                    <td>Cocos Keeling to Madagascar via Chagos around the end of November weather dependant</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Space to host a researcher:</td>
                                    <td>Yes, I’m willing in principle to host a researcher or two</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Number of Cabins:</td>
                                    <td>2 Singles</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Closest port to collect equipment or researchers:</td>
                                    <td>Main island of Cocos Keeling for the next 8 weeks approx</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                            </table>
                        </div>
                    <!--................. End column location information ................. -->
                    </div>
                </div>
            </div>
        </div>
    </div>