    <div class="container">
        <div class="container-profile row">
            <div class="col-md-11">
                <br>
                <h1 class="h1-profile">Profile</h1>
                <div class="row">
                <!--................. Column profile ................. -->
                    <div class="column-profile col-4">
                        <img class="img-profile" src="images/sarah-academic.png">

                       <input id="fileInput" type="file" style="display:none;" accept="image/*" />
                       <input type="button" value="Upload a new picture" class="button-profile" onclick="document.getElementById('fileInput').click();" />

                        <p class="p-profile">
                            <strong>Name:</strong> <span id='loggedin-username1'></span>
                            <br>
                            <strong>Status:</strong> Academic
                            <br>
                            <strong>Institute:</strong> <span id='loggedin-institute'></span>
                        </p>
                    </div>
                <!--................. End column profile ................. -->

                <!--................. Column personal information ................. -->
                    <div class="column-all col-8">
                        <div class="column-personal-information">
                            <table class="table-profile">
                                <tr class="header-column" style="height: 55px;" id="table-no-hover">
                                    <th colspan="2"><h2 style="padding-left: 10px;" class="h2-header">Personal information</h2></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="td-name">Name:</td>
                                    <td><span id='loggedin-username2'></span></td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Email:</td>
                                    <td><span id='loggedin-email'></span></td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Password:</td>
                                    <td>**********</td>
                                    <td class="td-edit"><a href="?/=editpassword">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Institute:</td>
                                    <td><span id='loggedin-institute1'></span></td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Country:</td>
                                    <td>England</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Research Area:</td>
                                    <td>Fish populations</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Occupation:</td>
                                    <td>Academic Researcher</td>
                                    <td class="td-edit"><a href="#">edit</a></td>
                                </tr>
                            </table>
                        </div>
                    <!--................. End column personal information ................. -->

                    <!--................. Column My interests ................. -->
                        <div class="column-vessel-information">
                            <table class="table-profile">
                                <tr class="header-column" style="height: 55px;" id="table-no-hover">
                                    <th colspan="2"><h2 style="padding-left: 10px;" class="h2-header">My interests</h2></th>
                                    <th class="td-edit"><span style="padding-right: 15px;"><a href="#">edit</a></span></th>
                                </tr>
                                <tr>
                                    <td class="td-name">Collecting data on:</td>
                                    <td>Amount of Abyssobrotula galatheae in the Indian Ocean</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Providing an instrument for a vessel to use:</td>
                                    <td>Yes, potentially</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Geographic location:</td>
                                    <td>Indian Ocean</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Accessing the database for:</td>
                                    <td>UvA</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-name">Funding status:</td>
                                    <td>None</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<script>

window.onload = onload_page();
function onload_page() {
    if (loggedIn()) {
        var set_fullname = loggedInFullName();
        var set_email = loggedInEmail();
        var set_institute = loggedInInstitute();

        setText('loggedin-username1', set_fullname);
        setText('loggedin-username2', set_fullname);
        setText('loggedin-email', set_email);
        setText('loggedin-institute', set_institute);
        setText('loggedin-institute1', set_institute);
    }
}

</script>
    </div>


