
    <p class="p-sitemap"><a class="a-sitemap"href="?/=profile">Profile</a> / <strong>Variables</strong></p>

        <div class="container container-variables col-6">
            <div class="header-column">
                <h2 class="h2-header">Variables</h2>
            </div>
            <div class="columns-all" style="width: 100%;">
                <div class="row">
                    <div class="column-checkbox col-4" style=" display: inline-block;">
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Air: CO (ppm)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Air: NO2 (ppb)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Air: O3 (ppm)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Air: PM10</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Air: PM2,5</div>
                        <br>

                    </div>

                    <div class="column-checkbox col-4" style=" display: inline-block;">
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Water: Acidity (pH)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Water: CO2 (ppm)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Water: SO2 (ppm)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Water: SO2 - water (ppm)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Water: TDS (mg/L)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Water: Temperature (ºC)</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Water: Salinity (PSU)</div>
                    </div>

                    <div class="column-checkbox col-4" style=" display: inline-block;">
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Audio</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Photo</div>
                        <div class="div-variable" style="margin-left: 1cm"><input type="checkbox" class="myinput large custom" /> Video</div>
                    </div>
                </div>
                <a href="?/=profile" class="button-profile button-save-variables">Save</a>
            </div>
        </div>
