
    <p class="p-sitemap"><a class="a-sitemap"href="?/=profile">Profile</a> / <strong>Variables</strong></p>

        <div class="container container-variables col-9">
            <div class="header-column">
                <h2 class="h2-header">Variables</h2>
            </div>
            <div class="columns-all">
                <div class="row">
                    <div class="column-checkbox col-4">
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> SO2</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> NO2</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> PM10</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> PM2,5</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> CO</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> O3</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Deg c</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Salinity psu</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> pH</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> TDS</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> CO2(aq)</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> SO2(aq)</div>
                    </div>



                    <div class="column-checkbox col-4">
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Dedicated samples of seawater with estrogenic compounds</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Water particulate samples at the surface both drag net and spot sampling</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Pictures of any unusual surface events or bodies of waste or plant life referenced by position</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Samples of any algae bloom discovered on a passage</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Reef and seabed video survey - complete a report for each anchorage - subsea surveys video and stills plus written report</div>
                    </div>

                    <div class="column-checkbox col-4">
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Surface sand samples of beach to examine under microscope</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Beach - collect waist, photograph, weigh and record area cleared</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Talk to locals about sea levels - take pictures at referenced high tide against an easy to find visual reference</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Water samples taken at the beach edge</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Film beach area</div>
                        <div class="div-variable"><input type="checkbox" class="myinput large custom" /> Interview locals about fish stocks and migration, sea levels and sea temperature, and the condition of their beach, surrounding waters and reefs</div>
                    </div>
                </div>
                <a href="?/=profile" class="button-profile button-save-variables">Save</a>
            </div>
        </div>
