<nav class="navbar navbar-expand-lg navbar-light bg-light blue white-text">
    <!-- left content -->
    <!-- logo -->
    <a class="navbar-brand" href="?/=dashboard-sailor">
        <img src="images/logo.png" height="65px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <!-- menu items -->
        <ul class="navbar-nav mr-auto special-font" id="nav-sailor">
            <li class="nav-item">
                <a class="nav-link" href="?/=dashboard-sailor">DASHBOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=accepted-requests-sailor">ACCEPTED REQUESTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=all-requests-sailor">ALL REQUESTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=chatbox-sailor">CHATBOX</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=database-logged-in-sailor">INTERACTIVE MAP</a>
            </li>
        </ul>
        <!-- right login content -->
        <span id="toggle-profile" class="navbar-text">
            <img class="profile-img" src="images/conor-sailor.png" height="50px;"/>

        </span>
    </div>
</nav>
<div class="menu-wrapper">
    <div class="menu-profile">
        <img src="images/conor-sailor.png">
        <label class="special-font white-text profile-menu"> <span id='loggedin-username-profile'></span> | Sailor<br><a href="?/=profile">View profile</a></label>
        <div class="logout" onclick="window.location='?/=home';">
            Logout
         </div>
    </div>
</div>

<script>
        $(".menu-wrapper").hide();
        $("#toggle-profile").click(function(){
            $(".menu-wrapper").toggle();
        });

        $(document).ready(function(){
            var current = location.pathname;
            $('#nav-sailor li a').each(function(){
                var $this = $(this);
                // if the current path is like this link, make it active
                if(window.location.href.indexOf($this.attr('href')) !== -1){
                    console.log('itWorks');
                    $this.parent().addClass('active')
                }
            })
        });
</script>
