<nav class="navbar navbar-expand-lg navbar-light bg-light blue white-text">
    <!-- left content -->
    <!-- logo -->
    <a class="navbar-brand" href="#">
        <img src="images/logo.png" height="50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <!-- menu items -->
        <ul class="navbar-nav mr-auto special-font">
            <li class="nav-item active">
                <a class="nav-link" href="?/=dashboard-sailor">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=accepted-requests-sailor">Accepted requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=all-requests-sailor">All requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=chatbox-sailor">Chatbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?/=database">Database</a>
            </li>
        </ul>
        <!-- right login content -->
        <span class="navbar-text">
            <img class="profile-img" src="images/conor-sailor.png" height="50px;">
            <span id="toggle-profile" class="octicon octicon-triangle-down"></span>
        </span>
    </div>
</nav>
<div class="menu-wrapper">
    <div class="menu-profile">
        <img src="images/conor-sailor.png">
        <label class="special-font white-text profile-menu">Conor | Sailor<br><a href="?/=profile">View profile</a></label>
        <div class="logout">
            <a href="?/=home">Logout</a>
        </div>


    </div>
</div>
<script>
        $(".menu-wrapper").hide();
        $("#toggle-profile").click(function(){
            $(".menu-wrapper").toggle();
        });
</script>
