<div class="wrapper-requests">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="grey-text">All Requests</h1>
      <br>

      <!-- SEARCH BAR -->
      <form action="/action_page.php" method="get">
        <div class="input-group">
          <input class="form-control" id="system-search" onkeyup="searchRequest()" name="q" placeholder="Search for username or area..." />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-original-title="" title="">
              <span class="octicon octicon-search white-text"></span>
            </button>
          </span>
        </div>
      </form>

      <br>
      <!-- REQUEST TABLE -->
      <table class="table-requests" id="requests-all"></table>
    </div>
  </div>
</div>

<script>
writeRequestsTable("requests-all");
</script>

<script>
  //search bar - search by username or area of request
  function searchRequest() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("system-search");
    filter = input.value.toUpperCase();
    table = document.getElementById("requests-all");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 1; i < tr.length; i+=6) {
      td = tr[i].getElementsByTagName("td")[0];   //username
      td1 = tr[i].getElementsByTagName("td")[1];   //area
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  //filter by type of measurement
  function selectType() {
    var x = document.getElementById("selectType");
    filter = x.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");
    if (filter == "ALL") {
      for (i = 1; i < tr.length; i+=6) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          tr[i].style.display = "";
        }
      }
    } else {
      for (i = 1; i < tr.length; i+=6) {
        td = tr[i].getElementsByTagName("td")[2];   //type of measurament
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  }
  //filter by status of request
  function selectStatus() {
    var x = document.getElementById("selectStatus");
    filter = x.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");

    if (filter == "ALL") {
      for (i = 1; i < tr.length; i+=6) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          tr[i].style.display = "";
        }
      }
    }
    else {
      for (i = 1; i < tr.length; i+=6) {
        td = tr[i].getElementsByTagName("td")[3];   //username
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  }

  function changeMessage(hide,show){
      document.getElementById(hide).style.display = "none";
      document.getElementById(show).style.display = "";
  }

  //Reloads page
  function myReload() {
    location.reload();
  }

  function confirmScreen(type) {
    if(type == 'accept'){
      confirm("Are you sure that you want to accept this request?");
    }
    if(type == 'reject'){
      confirm("Are you sure that you want to reject this request?");
    }
    myReload()
  }

  var image_tracker = 'down';

  function chevronSwitch(id) {
    var image = document.getElementById(id);
    if (image_tracker == 'down') {
      image.src = 'images/chevron-up.png';
      image_tracker = 'up';
    }
    else {
      image.src = 'images/chevron-down.png';
      image_tracker = 'down';
    }
  };


    $(".toggler").click(function (e) {
      e.preventDefault();
      $('.req' + $(this).attr('data-request')).toggle();
    });


    function acceptAnimation(div,hide,show){
      $(div).on('click', function () {
        $(hide).hide()
        $(show).show();
    });};

    /*
    // // Accepting requests flow 1
    acceptAnimation('#accept-requests1','#section-requests-info1','#section-requests-are_you_sure1');
    acceptAnimation('#confirmation-requests1','#section-requests-are_you_sure1','#section-requests-confirmation1');
    // Accepting requests flow 2
    acceptAnimation('#accept-requests2','#section-requests-info2','#section-requests-are_you_sure2');
    acceptAnimation('#confirmation-requests2','#section-requests-are_you_sure2','#section-requests-confirmation2');
    // Accepting requests flow 3
    acceptAnimation('#accept-requests3','#section-requests-info3','#section-requests-are_you_sure3');
    acceptAnimation('#confirmation-requests3','#section-requests-are_you_sure3','#section-requests-confirmation3');
    // Delete requests
    acceptAnimation('#delete-requests1','#section-requests-info2','#section-requests-delete-warning1');
    acceptAnimation('#confirmation-deleted-requests1','#section-requests-delete-warning1','#section-requests-confirmation-deleted1');
    // Reject Requests
    acceptAnimation('#reject-requests1','#section-requests-info1','#section-requests-reject-warning1');
    acceptAnimation('#confirmation-rejected-requests1','#section-requests-reject-warning1','#section-requests-confirmation-rejected1');
    // Submitting Accepted Requests
    acceptAnimation('#submit-requests1','#section-requests-info3','#section-requests-submit1');
    acceptAnimation('#submit-complete-requests1','#section-requests-submit1','#section-requests-submit-warning1');
    acceptAnimation('#confirmation-submitted-requests1','#section-requests-submit-warning1','#section-requests-confirmation-submitted1');
    */




</script>
