<div class="wrapper-chatbox">
  <div class="row">
    <div class="col-3">
      <div class="wrapper-chatbox-left">
        <h1 class="grey-text h-chatbox">Chatbox</h1>
        <div class="wrapper-chatbox-profile">
          <div class="amount-circle"><span id="loggedin-num-messages" style="padding-left: 30%;"></span></div>
          <p class="p-circle"> new personal message<span id="loggedin-num-messages-add"></span></p>
          <img class="profile-picture-chatbox" src="images/sarah-academic.png" alt="">
          <p><span class="p-bold-chatbox">Name:</span><span id='loggedin-username1'></span></p>
          <p><span class="p-bold-chatbox">Email:</span><span id='loggedin-email'></span></p>
          <p><span class="p-bold-chatbox">Status:</span>Academic</p>
          <p><span class="p-bold-chatbox">Institute:</span><span id='loggedin-institute'></span></p>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="wrapper-chatbox-right">
        <form action="#" method="get">
          <div class="input-group">
            <input class="form-control" id="system-search-senter" onkeyup="searchMessage()" name="q" placeholder="Search for names or keywords...">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" data-original-title="" title="" disabled><span class="octicon octicon-search white-text"></span></button>
            </span>
          </div>
        </form>


        <h2 class="grey-text header-table-chatbox">Personal messages <button class="fleet-btn" style="margin-left: 68%; color:white !important;">+</button></h2>
        <table class="table-chatbox" id="messages-personal">
        </table>

      </div>
    </div>
  </div>

<script>

//search bar - search by username  -- Kinda weird TODO
function searchMessage()  {
  // Declare variables
  var input, filter, table, table1, tr, tr1, td, i;
  input = document.getElementById("system-search-senter");
  filter = input.value.toUpperCase();
  table = document.getElementById("messages-personal");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];   //username
    td1 = tr[i].getElementsByTagName("td")[1];   //description
    if (td && td1) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1 ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  } 
}

function fillMessages(typeStr) {
    var element = document.getElementById("messages-"+typeStr);
    if (element) {
        var text="";

        text+="<tr>";
        text+="  <th width='15%'>From</th>";
        text+="  <th width='70%'>Description</th>";
        text+="  <th width='15%'>Date</th>";
        text+="</tr>";

        var count=0;
      	var todayString=getTodayDateString();

      	var messages = getStorageObject()["messages"];
      	for (var key in messages) {
      	    if(!messages.hasOwnProperty(key)) {
             		continue;
      	    }
      	    var row = messages[key];
      	    var field_from = row["from"];
      	    var field_to   = row["to"];
      	    var field_type = row["type"];
      	    var entire_name = getStorageObject()["users"][field_from]["firstname"] + " " + someLocalStorage["users"][field_from]["lastname"];;
      	    var role_from = getStorageObject()["users"][field_from]["role"];

      	    if (loggedInUsername == field_to && field_type == typeStr) {
              	text+="<tr class='"+((row["date"] == todayString)?"new-message-tr":"")+"'>";
              	text+=" <td>"+entire_name + "<img class='symbol-in-table' src='images/symbol-"+role_from+".png' /></td>";
              	text+=" <td>"+row["description"]+"</td>";
              	text+=" <td>"+row["date"]+"</td>";
              	text+="</tr>";
      		      count++;
      	    }
          }
          element.innerHTML = text;
    }
}

fillMessages("personal");

window.onload = onload_page();
function onload_page() {
    if (loggedIn()) {

        var set_fullname = loggedInFullName();
        var set_email = loggedInEmail();
        var set_institute = loggedInInstitute();
        var num_messages = numberMessages();
        var num_messages_additional = "";

        setText('loggedin-username1', set_fullname);
        setText('loggedin-email', set_email);
        setText('loggedin-institute', set_institute);
        setText('loggedin-num-messages', num_messages);
        if(numberMessages() == 0 || numberMessages()>1){
          setText('loggedin-num-messages-add', "s");
        }
    }
}

</script>

</div>
