<div class="wrapper-chatbox">
  <div class="row">
    <div class="col-3">
      <div class="wrapper-chatbox-left">
        <h1 class="grey-text h-chatbox">Chatbox</h1>
        <div class="wrapper-chatbox-profile">
          <div class="amount-circle">1</div>
          <p class="p-circle"> new administator message(s)</p>
          <div class="amount-circle">1</div>
          <p class="p-circle"> new personal message(s)</p>
          <img class="profile-picture-chatbox" src="images/conor-sailor.png" alt="">
          <p><span class="p-bold-chatbox">Name:</span>Conor La Grue</p>
          <p><span class="p-bold-chatbox">Status:</span>Lead Boat</p>
          <p><span class="p-bold-chatbox">Vessel name:</span>Given Time</p>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="wrapper-chatbox-right">
        <form action="#" method="get">
          <div class="input-group">
            <input class="form-control" id="system-search" name="q" placeholder="Search for messages">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" data-original-title="" title="" disabled><span class="octicon octicon-search white-text"></span></button>
            </span>
          </div>
        </form>
        <h2 class="grey-text header-table-chatbox">Administrator messages</h2>
        <table class="table-chatbox" id="messages-administrator">
            <tr>
              <th width="15%">From</th>
              <th width="70%">Description</th>
              <th width="15%">Date</th>
            </tr>
            <tr class="new-message-tr">
              <td>John <img class="symbol-in-table" src="images/symbol-academic.png"></td>
              <td><span class="p-bold-chatbox">Community request:</span> JOHN DOE wants to enter the community. Vessel ……</td>
              <td>03-12-2017</td>
            </tr>
            <tr height="33">
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr height="33">
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tr>
        </table>
        <h2 class="grey-text header-table-chatbox">Personal messages <button class="fleet-btn" style="margin-left: 68%; color:white !important;">+</button></h2>
        <table class="table-chatbox" id="messages-personal">
            <tr>
              <th width="15%">From</th>
              <th width="70%">Description</th>
              <th width="15%">Date</th>
            </tr>
            <tr class="new-message-tr">
              <td>Sarah <img class="symbol-in-table" src="images/symbol-sailor.png"></td>
              <td>Hi there, Conor! How are you? Where are you heading? ……..</td>
              <td>20-12-2017</td>
            </tr>
            <tr>
              <td>Anja <img class="symbol-in-table" src="images/symbol-sailor.png"></td>
              <td>Sarah! I was just wondering ……..</td>
              <td>03-01-2018</td>
            </tr>
            <tr>
              <td>Tom <img class="symbol-in-table" src="images/symbol-academic.png"></td>
              <td>Good afternoon, I have a question about my request. Did you ……..</td>
              <td>06-01-2018</td>
            </tr>
            <tr height="33">
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr height="33">
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr height="33">
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>
      </div>
    </div>
  </div>

<script>

function fillMessages(typeStr)
{

    var element = document.getElementById("messages-"+typeStr);
    if (element) {
        var text="";

        text+="<tr>";
        text+="  <th width='15%'>From</th>";
        text+="  <th width='70%'>Description</th>";
        text+="  <th width='15%'>Date</th>";
        text+="</tr>";

        var count=0;
	var todayString=getTodayDateString();

	var messages = getStorageObject()["messages"];
	for (var key in messages) {
	    if(!messages.hasOwnProperty(key)) {
       		continue;
	    }
	    var row = messages[key];
	    var field_from = row["from"];
	    var field_to   = row["to"];
	    var field_type = row["type"];
	    var firstname_from=getStorageObject()["users"][field_from]["firstname"];
	    var role_from=getStorageObject()["users"][field_from]["role"];

	    if (loggedInUsername == field_to && field_type == typeStr) {
        	text+="<tr class='"+((row["date"] == todayString)?"new-message-tr":"")+"'>";
        	text+=" <td>"+firstname_from+"<img class='symbol-in-table' src='images/symbol-"+role_from+".png' /></td>";
        	text+=" <td>"+row["description"]+"</td>";
        	text+=" <td>"+row["date"]+"</td>";
        	text+="</tr>";
		count++;
	    }
        }
        element.innerHTML = text;
    }
}

fillMessages("administrator");
fillMessages("personal");


</script>

</div>
