<div class="wrapper-requests">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="grey-text">My Requests</h1>
      <br>

      <!-- SEARCH BAR -->
      <form action="/action_page.php" method="get">
        <div class="input-group">
          <input class="form-control" id="system-search" onkeyup="searchRequest()" name="q" placeholder="Search for username or area..."/>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-original-title="" title="">
              <span class="octicon octicon-search white-text"></span>
            </button>
          </span>
        </div>
      </form>

      <br>
      <!-- REQUEST TABLE -->
      <table class="table-requests" id="requests-all" ></table>
    </div>
  </div>
</div>


<script>

  //WRITE TABLE
  var element = document.getElementById("requests-all");
  if (element) {
  var text="";

  text+=" <thead>";
  text+="   <th>Username</th>";
  text+="   <th>Requested area</th>";
  text+="   <th>Type of request";
  text+="     <select id='selectType' class='filter-requests' onchange='selectType()'>";
  text+="       <option selected='selected'>All</option>";
  text+="       <option value='ph'>pH</option>";
  text+="       <option value='temperature'>Temperature</option>";
  text+="       <option value='samples'>Samples</option>";
  text+="       <option value='photo'>Photo</option>";
  text+="       <option value='video'>Video</option>";
  text+="       <option value='audio'>Audio</option>";
  text+="       <option value='so2'>SO2</option>";
  text+="       <option value='no2'>NO2</option>";
  text+="       <option value='pm10'>PM10</option>";
  text+="       <option value='pm2,5'>PM2,5</option>";
  text+="       <option value='co'>CO</option>";
  text+="       <option value='o3'>O3</option>";
  text+="       <option value='deg c'>Degrees ºC</option>";
  text+="       <option value='salinity'>Salinity psu</option>";
  text+="       <option value='tds'>TDS</option>";
  text+="       <option value='co2'>CO2 (aq)</option>";
  text+="       <option value='so2'>SO2 (aq)</option>";
  text+="     </select>";
  text+="   </th>";
  text+="   <th>Status";
  text+="     <select id='selectStatus' class='filter-requests' onchange='selectStatus()'>";
  text+="       <option selected='selected'>All</option>";
  text+="       <option value='approved'>Pending approval</option>";
  text+="       <option value='approved'>Approved</option>";
  text+="       <option value='accepted'>Accepted</option>";
  text+="       <option value='completed'>Completed</option>";
  text+="     </select>";
  text+="   </th>";
  text+="   <th></th>";
  text+=" </thead>";

  var count=1;
  var requests = getStorageObject()["requests"];
  for (var key in requests) {
  if(!requests.hasOwnProperty(key)) {
        continue;
  }


  var row = requests[key];

  text+=" <tr>";
  text+="   <td>"+row["username"]+"</td>";
  text+="   <td>"+row["area"]+"</td>";
  text+="   <td>"+row["reqtype"]+"</td>";
  text+="   <td>"+row["status"]+"</td>";
  text+="   <td>";
  text+="     <a href='#' class='toggler' data-request='"+count+"' onclick=\"chevronSwitch('chevron-switch"+count+"');\">";
  text+="       <i>";
  text+="         <img id='chevron-switch"+count+"' class='chevron-img' src='images/chevron-down.png' alt='chevron down' />";
  text+="       </i>";
  text+="     </a>";
  text+="   </td>";
  text+=" </tr>";
  text+=" <tr id='section-requests-info"+count+"' class='req"+count+"' style='display: none'>";
  text+="   <td colspan='5'>";
  text+="     <div class='row wrapper-info-requests'>";
  text+="       <div class='col-3'>";
  text+="         <p class='p_requests'>Duration</p>";
  text+="         <p>"+row["duration"]+"</p>";
  text+="         <p class='p_requests'>Frequency</p>";
  text+="         <p>"+row["frequency"]+"</p>";
  text+="         <p class='p_requests'>Deadline</p>";
  text+="         <p>"+row["deadline"]+"</p>";
  text+="       </div>";
  text+="       <div class='col-9'>";
  text+="         <p class='p_requests'>Description</p>";
  text+="         <div class='description-box-requests'>"+row["description"]+"</div>";
  text+="         <div class='row'>";
  text+="           <div class='col-6'>";
  text+="             <button type='button' id='accept-requests"+count+"' class='btn btn-default button-accept-requests'>Submit Data</button>";
  text+="           </div>";
  text+="           <div class='col-6'>";
  text+="             <button type='button' id='reject-requests"+count+"' class='btn btn-default button-reject-requests'>Withdraw</button>";
  text+="           </div>";
  text+="         </div>";
  text+="       </div>";
  text+="     </div>";
  text+="   </td>";
  text+=" </tr>";
  text+=" <tr id='section-requests-are_you_sure"+count+"' style='display: none'>";
  text+="   <td colspan='5'>";
  text+="     <div class='row wrapper-info-requests'>";
  text+="       <div class='col-8 offset-2'>";
  text+="         <p class='p_requests-accept'>DATA FORM PLACEHOLDER</p>";
  text+="         <div class='row'>";
  text+="           <div class='col-6'>";
  text+="             <button id='confirmation-requests"+count+"' type='button' class='btn btn-default button-accept-requests'>Submit data</button>";
  text+="           </div>";
  text+="         </div>";
  text+="       </div>";
  text+="     </div>";
  text+="   </td>";
  text+=" </tr>";
  text+=" <tr id='section-requests-confirmation"+count+"' style='display: none'>";
  text+="   <td colspan='5'>";
  text+="     <div class='row wrapper-info-requests'>";
  text+="       <div class='col-8 offset-2'>";
  text+="         <p class='p_requests-accept'>WARNING!</p>";
  text+="         <p class='p_requests-accept'>You can not change the values after submitting the data.</p>";
  text+="         <p class='p_requests-accept'>Are you sure that the submitted values are correct?</p>";
  text+="         <div class='row'>";
  //change this
  text+="           <div class='col-6'>";
  text+="             <button id='confirmation-rejected-requests"+count+"' type='button' class='btn btn-default button-accept-requests'>Yes</button>";
  text+="           </div>";
  text+="           <div class='col-6'>";
  text+="             <button type='button' onclick='myReload()' class='btn btn-default button-reject-requests'>No</button>";
  text+="           </div>";
  //
  text+="         </div>";
  text+="       </div>";
  text+="     </div>";
  text+="   </td>";
  text+=" </tr>";
  text+=" <tr id='section-requests-reject-warning"+count+"' style='display: none'>";
  text+="   <td colspan='5'>";
  text+="     <div class='row wrapper-info-requests'>";
  text+="       <div class='col-8 offset-2'>";
  text+="         <p class='p_requests-accept'>Your data was succesfully sent to the academic.</p>";
  text+="         <p class='p_requests-accept'>Thank you!</p>";
  text+="         <div class='row'>";
  text+="           <div class='col-6'>";
  text+="             <button type='button' onclick='myReload()' class='btn btn-default button-reject-requests'>Ok</button>";
  text+="           </div>";
  text+="         </div>";
  text+="       </div>";
  text+="     </div>";
  text+="   </td>";
  text+=" </tr>";

        count++;
   }
       element.innerHTML = text;
    }


  //search bar - search by username or area of request
  function searchRequest() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("system-search");
    filter = input.value.toUpperCase();
    table = document.getElementById("requests-all");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 1; i < tr.length; i+=5) {
      td = tr[i].getElementsByTagName("td")[0];   //username
      td1 = tr[i].getElementsByTagName("td")[1];   //area
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
          tr[i+1].style.display = "none";
          tr[i+2].style.display = "none";
          tr[i+3].style.display = "none";
          tr[i+4].style.display = "none";
        }
      }
    }
  }

  //filter by type of measurement
  function selectType() {
    var x = document.getElementById("selectType");
    filter = x.value.toUpperCase();
    table = document.getElementById("requests-all");
    tr = table.getElementsByTagName("tr");
    if (filter == "ALL") {
      for (i = 1; i < tr.length; i+=6) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          tr[i].style.display = "";
        }
      }
    } else {
      for (i = 1; i < tr.length; i+=5) {
        td = tr[i].getElementsByTagName("td")[2];   //type of measurament
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
            tr[i].style.display = "none";
            tr[i+1].style.display = "none";
            tr[i+2].style.display = "none";
            tr[i+3].style.display = "none";
            tr[i+4].style.display = "none";
          }
        }
      }
    }
  }
  //filter by status of request
  function selectStatus() {
    var x = document.getElementById("selectStatus");
    filter = x.value.toUpperCase();
    table = document.getElementById("requests-all");
    tr = table.getElementsByTagName("tr");

    if (filter == "ALL") {
      for (i = 1; i < tr.length; i+=5) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          tr[i].style.display = "";
        }
      }
    }
    else {
      for (i = 1; i < tr.length; i+=5) {
        td = tr[i].getElementsByTagName("td")[3];   //username
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
            tr[i+1].style.display = "none";
            tr[i+2].style.display = "none";
            tr[i+3].style.display = "none";
            tr[i+4].style.display = "none";
          }
        }
      }
    }
  }

  //Reloads page
  function myReload() {
    location.reload();
  }

  var image_tracker = 'down';

  function chevronSwitch(id) {
    var image = document.getElementById(id);
    if (image_tracker == 'down') {
      image.src = 'images/chevron-up.png';
      image_tracker = 'up';
    }
    else {
      image.src = 'images/chevron-down.png';
      image_tracker = 'down';
    }
  };


  $(".toggler").click(function (e) {
    e.preventDefault();
    $('.req' + $(this).attr('data-request')).toggle();
  });


  function acceptAnimation(div,hide,show){
    $(div).on('click', function () {
      $(hide).hide()
      $(show).show();
    });};

    // // Accepting requests flow 1
    acceptAnimation('#accept-requests1','#section-requests-info1','#section-requests-are_you_sure1');
    acceptAnimation('#confirmation-requests1','#section-requests-are_you_sure1','#section-requests-confirmation1');
    // Accepting requests flow 2
    acceptAnimation('#accept-requests2','#section-requests-info2','#section-requests-are_you_sure2');
    acceptAnimation('#confirmation-requests2','#section-requests-are_you_sure2','#section-requests-confirmation2');
    // Accepting requests flow 3
    acceptAnimation('#accept-requests3','#section-requests-info3','#section-requests-are_you_sure3');
    acceptAnimation('#confirmation-requests3','#section-requests-are_you_sure3','#section-requests-confirmation3');
    // Delete requests
    acceptAnimation('#delete-requests1','#section-requests-info2','#section-requests-delete-warning1');
    acceptAnimation('#confirmation-deleted-requests1','#section-requests-delete-warning1','#section-requests-confirmation-deleted1');
    // Reject Requests
    acceptAnimation('#reject-requests1','#section-requests-info1','#section-requests-reject-warning1');
    acceptAnimation('#confirmation-rejected-requests1','#section-requests-reject-warning1','#section-requests-confirmation-rejected1');
    // Submitting Accepted Requests
    acceptAnimation('#submit-requests1','#section-requests-info3','#section-requests-submit1');
    acceptAnimation('#submit-complete-requests1','#section-requests-submit1','#section-requests-submit-warning1');
    acceptAnimation('#confirmation-submitted-requests1','#section-requests-submit-warning1','#section-requests-confirmation-submitted1');




</script>
