/* chatbox */

.wrapper-chatbox {
  padding: 20px 50px;
}

.wrapper-chatbox-right {
  background-color: none;
  margin-top: 35px;
}

.wrapper-chatbox-left {
  background-color: none;
  margin-top: 25px;
}

.wrapper-chatbox-profile {
  border: 1px solid #AFA7A3;
  background-color: white;
  padding: 30px;
}

.h-chatbox {
  margin-bottom: 22px;
}

.p-bold-chatbox {
  font-weight: bolder;
  margin-right: 5px;
}

.profile-picture-chatbox {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

/* notification amount circle */

.amount-circle {
  border-radius: 50px;
  border: 2px solid #42CDC4;
  color: #42CDC4;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 10px;
}

.p-circle {
  padding-top: 1px;
  font-size: 18px;
}

/* Table chatbox */

.header-table-chatbox {
  border: 1px solid #AFA7A3;
  background-color: white;
  color: #AFA7A3;
  font-size: 25px;
  padding: 10px;
  margin: 0;
  margin-top: 20px;
  border-bottom: none;
}

.table-chatbox {
  border-collapse: collapse;
  width: 100%;
  background-color: #F4F4F4;
}

.table-chatbox td, .table-chatbox th {
  border: 1px solid #AFA7A3;
  padding: 8px;
  background-color: #ededed;
}

.table-chatbox tr:nth-child(even){
  background-color: #F4F4F4;
}

.table-chatbox tr:hover {
  background-color: #ddd;
}

.table-chatbox th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #AFA7A3;
  color: white;
  border: 1px solid #AFA7A3;
}

.symbol-in-table {
  width: 20px;
  float: right;
}

.new-message-tr {
  background-color: #f4b9e7!important; /* #F4C477!important; */
}
