
.container-edit-password {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.container-edit-password .div-buttons {
    display: flex;
    justify-content: center;
}

.h2-change-password {
    margin-bottom: 10px;
}

.text-form {
    margin-top: 15px;
    border: 1px solid #AFA7A3;
    padding: 10px;
    transition: .2s;
}

.text-form:focus {
    outline: none;
    border: 1px solid #42CDC4;
}

.text-form::placeholder {
    color: #AFA7A3;
}

.button-cancel {
    background: #A9ABAC!important;
    margin-right: 5px;
}

.button-save {
    margin-left: 5px;
}

.button-save:hover, .button-cancel:hover {
    color: white!important;
    text-decoration: none!important;
}

.footie-edit-password {
    position: absolute;
    bottom: 0;
}
