.nav-item:hover {
  background-color: white;
  height: 100%;
  a {
      color: black!important;
  }
}

li.nav-item.active {
  background-color: white!important;
  height: 100%!important;
  a {
      color: black!important;
  }
}

.navbar {
  padding-top: 0!important;
  padding-bottom: 0!important;
  height: 75px;
}

.nav-item {
    text-align: center;
    padding: 18px 20px;
    a {
        font-size: 16px;
    }
}
.menu-wrapper{
    width: 100%;
}

.menu-profile{
    z-index: 100;
    position: absolute;
    height: 100px;
    display: block;
    right: 2%;
    width: 35%;
    color: white;
    background-color: darken($color: $prim-blue , $amount: 5);
    img{
        height: 100%;
        padding: 15px;
    }
    .logout{
        text-align: left;
        font-family: 'Architects Daughter', cursive ;
        padding: 10px;
        background-color: darken($color: $prim-blue , $amount: 0);
        a {
          color: white;
        }
    }
}
