.nav-item:hover {
  background-color: white;
  height: 100%;
  a {
      color: black!important;
  }
}

.nav-item {
    text-align: center;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    a {
        font-size: 15px;
    }
}
.menu-wrapper{
    width: 100%;
}

.menu-profile{
    z-index: 100;
    position: absolute;
    height: 100px;
    display: block;
    right: 2%;
    width: 35%;
    color: white;
    background-color: darken($color: $prim-blue , $amount: 5);
    img{
        height: 100%;
        padding: 15px;
    }
    .logout{
        text-align: center;
        height: 25px;
        background-color: darken($color: $prim-blue , $amount: 0);
    }
}
