.h1-profile {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-left: -15px;
    color: #AFA7A3;
}

.h2-header {
    font-size: 25px;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 0;
}

.h2-profile {
    color: white;
    font-weight: 300;
}

p {
    color: #707070;
}

.container-profile {
    display: flex;
    justify-content: center;
}

.header-column {
    width: 100%;
    padding: 10px 15px 10px 15px;
    background-color: #AFA7A3;
}

.button-profile {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #fe947d, #ffbdad);
    margin-top: 20px;
    border-radius: 100px;
    color: white;
    border: none;
    transition: .1s;
    cursor: pointer;
    text-align: center;
}

.button-profile:hover {
    opacity: 0.8;
}

.button-profile:focus {
    outline: none;
    border: none;
}

.p-sitemap {

    margin-left: 40px;
    margin-top: 20px;
}

.a-sitemap {
    color: #707070;
}

.a-sitemap:hover {
    color: #707070;
}

.footie {
  height: 60px;
  width: 100%;
  background-color: #42CDC4;
  margin-top: 50px;
}

/* -------------- Column profile -------------- */

.column-profile {
    border: 1px solid #AFA7A3;
    padding: 35px 45px 35px 45px;
    height: 100%;
}

.img-profile {
    width: 100%;
}

.profile-img{
    cursor: pointer;
}

/* --- Modal --- */

.close {
    color: white!important;
}

.close:focus {
    outline: none;
}

.close:hover {
    color: white;
}

.modal-footer {
    border: none;
}

.button-grey, .button-upload-modal {
    margin-top: -13px!important;
}

.button-grey {
    background: #A9ABAC!important;
}

/* --- End modal --- */

.p-profile {
    margin-top: 20px;
}

/* -------------- Columns information -------------- */

.column-personal-information,
.column-vessel-information,
.column-location-information {
    background-color: #F4F4F4;
    margin-bottom: 30px;
}

.table-profile {
    width: 100%;
}

.table-profile tr td {
    padding: 10px 15px 10px 15px;
}

.table-profile tr {
    transition: .1s;
}

.table-profile tr:hover {
    background-color: #E2E2E2;
}

.td-name {
    font-weight: 600;
}

.td-edit {
    text-align: right;
}

.td-edit a {
    color: #767676!important;
}
