/* Search bar */

.input-group .form-control {
  border-radius: 20px;
  border: 1px solid #AFA7A3;
  height: 40px;
}

.input-group-btn .btn {
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(to right, #FE947D, #FFBDAD);
  border-left: none;
  border-right: none;
  border: linear-gradient(to right, #FE947D, #FFBDAD);
  height: 40px;
  width: 75px;
}

.input-group-btn .btn:hover {
  opacity: 0.8;
}

.input-group-btn .btn:focus{
  outline: 0!important;
  border: 1px solid $prim-blue;
}
