
.container-sign-up {
    margin-top: 30px;
}

.container-sign-up input {
    width: 100%;
}

.form-group .fleet-input {
    border: 1px solid #AFA7A3;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cancel-button {
    width: 100%;
    padding: 3px 10px 0px 10px;
    margin-right: 5px;
    background: #A9ABAC!important;
}

.cancel-button:hover {
    text-decoration: none;
    color: white;
}

.sign-up-button {
    margin-left: 5px;
}
