<div style="height:100px;">
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <h1 class="grey-text">Login</h1>
        <br>
        <form class=" text-center" id="login" name="login" action="" onsubmit="return validateLogin(document.forms.login.uname.value)">
            <div class="form-group">
                <input class="fleet-input" type="text" name="uname" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input class="fleet-input password" type="password" name="pass" placeholder="Password" required>
            </div>

            <input type="hidden" name="page" value="dashboard-sailor">
            <br>
            <button class="fleet-btn-full-width button-login" type="submit">Log in</button>
        </form>
        <div class="text-center">
            <a class="a-forgotpassword" href="index.html?/=forgot-password">Forgot your password</a>
            <br id="to-go">
            <br>
            <br>
            <p id="not-user"></p> 
            <br>
            <p>Or
                <a class="fleet-btn button-signup" href="?/=sign-up">Sign up</a> if you do not have an account</p>
        </div>

    </div>
</div>
