<div style="height:100px;"></div>
<div class="row justify-content-center">
    <div class="col-3">
        <h1 class="grey-text">Login</h1>
        <br>
        <form class=" text-center" name="login" action="index.html?/=dashboard&" onsubmit="return validateLogin(document.forms.login.uname.value)">
            <div class="form-group">
                <input class="fleet-input" type="text" name="uname" placeholder="username">
            </div>
            <div class="form-group">
                <input class="fleet-input" type="password" placeholder="password">
            </div>
            <br>
            <button class="fleet-btn-full-width" type="submit">Submit</button>
        </form>
        <div class="text-center">
            <a class='' href="forgot-pass.html">Forgot your password</a>
            <br>
            <br>
            <br>
            <p>Or
                <a class="fleet-btn" href="sign-up-scientist.html">Sign up</a> if you do not have an account</p>
        </div>

    </div>
</div>