

    <div class="row justify-content-center">
        <div class="col-5">
            <h1 class="uk-text-center">Sign-up</h1>
            <br/>
            <form name="signup" method="post" class="" action="index.html?/=account-created" onsubmit="return signupLS(document.forms.signup.role.value, document.forms.signup.uname.value, document.forms.signup.lastname.value, document.forms.signup.username.value, 'boatname', document.forms.signup.email.value)">
                <div class="form-group uk-grid-small uk-child-width-auto uk-grid checkBox1 ">
                    <label>
                        <input class="" type="radio" name="role" value="academic" checked /> Academic</label>
                    <label>
                        <input class="" type="radio" name="role" value="sailor" /> Sailor</label>
                    <br />
                    <br />
                </div>

                <div class="form-group">
                    Name
                    <input class="fleet-input" name="uname" type="text" placeholder="Name*" />
                </div>

                <div class="form-group">
                    Last Name
                    <input class="fleet-input" type="text" name="lastname" placeholder="Last Name*" />
                </div>

                <div class="form-group">
                    Username
                    <input class="fleet-input" type="text" name="username" placeholder="Username*" />
                </div>

                <div class="form-group">
                    Institute
                    <input class="fleet-input" type="text" name="institute" placeholder="Institute" />
                </div>

                <div class="form-group">
                    Email
                    <input class="fleet-input" type="text" name="email" placeholder="Email*" />
                </div>

                <div class="form-group">
                    Repeat Email
                    <input class="fleet-input" type="text" placeholder="Repeat Email" />
                </div>

                <div class="form-group">
                    Password
                    <input class="fleet-input" type="text" placeholder="Password"/>
                </div>

                <div class="form-group">
                    Repeat Password
                    <input class="fleet-input" type="text" placeholder="Repeat Password" />
                </div>
                <div class="form-group">
                    <a class="fleet-btn" href="#">Cancel</a>
                    <input type="submit" class="fleet-btn" value="sign-up"></input>
                </div>

            </form>
            

        </div>
    </div>
    <br/><br/>
    <p class="text-center">Or <span><button class="fleet-btn">Log In</button></span> if you already have an account.</p>
