<!DOCTYPE html>
<html>
    <head>
        <title>Seacial Media - Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/seacial.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

        <script>

             //search bar - search by username or area of request
            function searchRequest() {
                // Declare variables
                var input, filter, table, tr, td, i;
                input = document.getElementById("input");
                filter = input.value.toUpperCase();
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];   //username
                    td1 = tr[i].getElementsByTagName("td")[1];   //area
                    if (td) {
                        if ((td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1) && i%2!=0 && tr[i].style.display == "") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

            //filter by type of measurement
            function selectType() {     
                var x = document.getElementById("selectType").value;
                filter = x.toUpperCase();
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");
                if(filter == "ALL"){
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[2];  
                        if (td) {
                            tr[i].style.display = "";
                        }
                    }
                }
                else{
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[2];   //type of measurament
                        if (td) {
                            if ((td.innerHTML.toUpperCase().indexOf(filter) > -1)  && i%2!=0 && tr[i].style.display == "") {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            }
            //filter by status of request
            function selectStatus() {
                var x = document.getElementById("selectStatus").value;
                filter = x.toUpperCase();
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");

                if(filter == "ALL"){
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[3];  
                        if (td) {
                            tr[i].style.display = "";
                        }
                    }
                }
                else{
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[3];   //username
                        if (td) {
                          if (td.innerHTML.toUpperCase().indexOf(filter) > -1  && i%2!=0 && tr[i].style.display == "") {
                            tr[i].style.display = "";
                          } else {
                            tr[i].style.display = "none";
                          }
                        }
                    }
                }
            }
        
            $(document).ready(function(){
                $(".toggler").click(function(e){
                    e.preventDefault();
                    $('.req'+$(this).attr('data-request')).toggle();
                });
            });

         </script>

         <style>
             td.details-control {
                background: url('../resources/details_open.png') no-repeat center center;
                cursor: pointer;
            }
            tr.shown td.details-control {
                background: url('../resources/details_close.png') no-repeat center center;
            }
         </style>


    </head>
    <body>
       
        <h1 class="uk-text special-font">All Requests</h1>
        <br>

        <!-- SEARCH BAR -->
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" id="input" onkeyup="searchRequest()" placeholder="Search for username or area...">
                <button type="submit"><i>search</i></button>
            </form>
        </div>

        <br>
        <!-- REQUEST TABLE --> 

       <table id="table">
            <thead>
                <th>Username</th>
                <th>Requested area</th>
                <th>Type of request
                    <select id="selectType" onchange="selectType()">
                        <option selected="selected">All</option>
                        <option value="ph">pH</option>
                        <option value="temperature">Temperature</option>
                        <option value="samples">Samples</option> 
                        <option value="photo">Photo</option>
                        <option value="video">Video</option>
                        <option value="audio">Audio</option>
                        <option value="so2">SO2</option>
                        <option value="no2">NO2</option>
                        <option value="pm10">PM10</option>
                        <option value="pm2,5">PM2,5</option>
                        <option value="co">CO</option>
                        <option value="o3">O3</option>
                        <option value="deg c">Deg c</option>
                        <option value="salinity">Salinity psu</option>
                        <option value="tds">TDS</option>
                        <option value="co2">CO2 (aq)</option>
                        <option value="so2">SO2 (aq)</option>
                    </select>
                </th>
                <th>Status
                    <select id="selectStatus" onchange="selectStatus()">
                        <option selected="selected">All</option>
                        <option value="approved">Approved</option>
                        <option value="accepted">Accepted</option>
                        <option value="completed">Completed</option>
                    </select>
                </th>
                <th></th>
            </thead>

            <tr> 
                <td>Maya190</td>
                <td>South Atlantic</td>
                <td>SO2 in the ocean water</td>
                <td>Accepted</td>
                <td><a href="#" class="toggler" data-request="1"> + </a></td>
            </tr>
            <tr class="req1" style = "display: none"> 
                <td colspan="5">
                <div>
                Duration: 6 months
                <br>
                Frequency: 2 measures per day
                Deadline: 21-07-2017
                <br>
                Description: blah blah blah
                <br>
                <button>Contact Academic</button>
                </div>
                </td>
            </tr>

            <tr>
                <td>Rick4</td>
                <td>South Pacific</td>
                <td>Temperature of the ocean water</td>
                <td>Completed</td>
                <td><a href="#" class="toggler" data-request="2"> + </a></td>
            </tr>
            <tr class="req2" style = "display: none"> 
                <td colspan="5">
                <div>
                Duration: 1 months
                <br>
                Frequency: 2 measures per day
                Deadline: 21-04-2018
                <br>
                Description: blah blah blah
                <br>
                <button>Contact Academic</button>
                </div>
                </td>
            </tr>

            <tr>
                <td>Rachel K</td>
                <td>Atlantic</td>
                <td>O3 in the air</td>
                <td>Accepted</td>
                <td><a href="#" class="toggler" data-request="3"> + </a></td>
            </tr>
            <tr class="req3" style = "display: none"> 
                <td colspan="5">
                <div>
                Duration: 2 weeks
                <br>
                Frequency: 3 measures per day
                Deadline: 22-02-2018
                <br>
                Description: blah blah blah
                <br>
                <button>Contact Academic</button>
                </div>
                </td>
            </tr>
        </table>
    </body>
</html>
